@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.headerContainer {
  max-width: 518px;
  margin: 70px auto 80px auto;
  text-align: center;
}
