@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Raleway', sans-serif; 
  background-color: hsl(229, 57%, 11%);
  background-image: url('../images/bg-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0vw bottom -15vh;
  color: hsl(243, 100%, 93%);
}

.container {
  margin: 0 20px;
  max-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(auto, 1fr)
                         minmax(auto, 350px)
                         minmax(auto, 545px)
                         minmax(auto, 1fr);
  grid-template-areas: '. logo content .';
  align-items: center;
  justify-content: center;
}

.borderRadius {
  grid-area: logo;
  /* flex: 0 1 350px; */
  padding: 40px;
  margin-right: 30px;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
}

.borderRadius > img {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.borderRadius ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

ul li {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: hsl(229, 57%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.continerGb {
  grid-area: content;
  margin-top: 40px;
  /* flex: 0 1 545px; */
  padding: 40px;
  border-radius: 10px;
  background-color: hsl(228, 56%, 26%);
}

.continerGb p span {
  font-weight: 700;
}

.fundoLoad {
  background-color: hsl(229, 57%, 11%);
  margin: 15px 0 10px 0;
  padding: 3px;
  border-radius: 15px;
  position: relative;
}

.load {
  max-width: 340px;
  height: 15px;
  display: block;
  border-radius: 15px;
  background-image: linear-gradient(60deg,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  position: relative;
}

.load span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: hsl(243, 100%, 93%);
  position: absolute;
  right: 3px;
  top: 2px;
}
 
.itemFloat {
  width: 180px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: -135px;
}

.itemFloat::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 40px solid;
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color:transparent;
  border-left-color: transparent;
  position: absolute;
  right: 0;
  top: 30px;
}

.itemFloat p {
  color:hsl(229, 7%, 55%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 5px;
}

.itemFloat span {
  font-weight: 700;
  font-size: 36px;
  color: hsl(229, 57%, 11%);
}

.flexGb {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) {
  body {
    background-image: url('../images/bg-mobile.png');
    background-size: cover;
    background-position: top 0vw left 0;
  }

  .container {
    height: 460px;
    margin-top: 100px;
    grid-template-columns: minmax(auto, 325px);
    grid-template-rows: 200px 165px;
    grid-template-areas: 'logo'
                         'content'
  }
  
  .borderRadius {
    margin-right: 0;
  }

  .load {
    max-width: 170px;
  }
  
  .itemFloat {
    right: 25px;
    top: 60px;
  }
  
  .itemFloat::before {
    display: none;
  }
}

/* posicionamento da imagen de fundo para desktop */

@media (max-width: 1024px) {
  body {
    background-position: right 0vw bottom -3vh;
  }
}

@media (max-width: 768px) {
  body {
    background-position: right 0vw bottom 3vh;
  }

  .load {
    max-width: 250px;
  }
}