@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/* font-family: 'Fraunces', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: block;
}

:root {
  /* ### Primary */
  --Softred: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Darkdesaturatedcyan : hsl(167, 40%, 24%); /*(graphic design text)*/
  --Darkblue : hsl(198, 62%, 26%); /*(photography text)*/
  --Darkmoderatecyan : hsl(168, 34%, 41%); /*(footer)*/
  /* ### Neutral */
  --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --Verydarkgrayishblue: hsl(213, 9%, 39%);
  --Darkgrayishblue: hsl(232, 10%, 55%);
  --Grayishblue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

.header {
  background-color: #3dbeff;
  padding-bottom: 325px;
  background-image: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-position: bottom 0vw center;
  background-size: cover;
}

.logoNav {
  padding: 30px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

.btnMobile {
  border: none;
  background-color: transparent;
  display: none;
}

.nav {
  gap: 45px;
  color: hsl(0, 0%, 100%);
  font-family: 'Barlow', sans-serif;
}


.nav button {
  border: none;
  width: 145px;
  height: 57px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(200, 100%, 72%);
  transition: 0.3s;
}

.header h1 {
  color: hsl(0, 0%, 100%);
  font-size: 56px;
  line-height: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  letter-spacing: 2px;
  margin: 90px 0  100px 0;
}

.seta {
  margin: 0 auto;
  animation: arrow 2s  ease-out infinite;
}

@keyframes arrow {
  0%,100%{
		transform:translatey(0)
	}
  50%{
		transform:translatey(-25px)
	}
}

.flex {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 1fr;
  grid-template-areas: "conteudo imagem";
}

.content {
  grid-area: conteudo;
  padding: 135px 115px 135px 160px;
  background-color: hsl(26, 100%, 99%);
}

.content h2 {
  margin-bottom: 35px;
  font-size: 37px;
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
}

.content p {
  font-size: 16px;
  color: hsl(213, 9%, 39%);
  font-family: 'Barlow', sans-serif;
  line-height: 25px;
  margin-bottom: 45px;
}

.content div {
  position: relative;
}

.content div p{
  margin-left: 5px;
  font-size: 16px;
  color: hsl(212, 27%, 19%);
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  position: relative;
  z-index: 10;
}

.content div span {
  width: 120px;
  height: 10px;
  bottom: 2px;
  position: absolute;
  background-color: #3dbeff;
  border-radius: 20px;
}

.colorYellow.line span {
  background-color: hsl(51, 100%, 49%);
}

.flex.flexReverso {
  grid-template-areas:  "imagem conteudo";
}

.imgBg {
  grid-area: imagem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imgEgg {
  background-image: url('../images/desktop/image-transform.jpg');
}

.cup {
  background-image: url('../images/desktop/image-stand-out.jpg');
}

.colorPink.line span {
  background-color: hsl(7, 99%, 70%);
}

.subFlex div {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  padding: 400px 170px 60px 170px;
}

.subFlex h2 {
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
}

.subFlex p {
  font-size: 16px;
  color: hsl(212, 27%, 19%);
  font-family: 'Barlow', sans-serif;
  line-height: 25px;
  margin-top: 20px;
}

.graphic {
  background-image: url('../images/desktop/image-graphic-design.jpg');
  background-position: center;
}

.photography {
  background-image: url('../images/desktop/image-photography.jpg');
  background-position: center;
}

.clients {
  justify-content: center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 145px;
  background-color: hsl(26, 100%, 99%);
}

.clients ul {
  max-width: 1140px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.clients h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: hsl(213, 9%, 39%);
  font-family: 'Fraunces', serif;
  margin-bottom: 75px;
}

.clients li {
  max-width: 350px;
}

.clients li img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}

.clients p {
  line-height: 30px;
  color: hsl(213, 9%, 39%);
  font-family: 'Barlow', sans-serif;
}

.clients p + span {
  color: hsl(212, 27%, 19%);
  font-family: 'Fraunces', serif;
  margin-top: 70px;
  margin-bottom: 15px;
}

.clients span + span {
  font-size: 14px;
  color: hsl(210, 4%, 67%);
  font-family: 'Barlow', sans-serif;
}

.imgList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(auto, 445px);
}

.imgList li {
  max-width: 100%;
  height: 445px;
  background-size: cover;
  background-repeat: no-repeat;
}

.imgList li:nth-child(1) {
  background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
}

.imgList li:nth-child(2) {
  background-image: url('../images/desktop/image-gallery-orange.jpg');
}

.imgList li:nth-child(3) {
  background-image: url('../images/desktop/image-gallery-cone.jpg');
}

.imgList li:nth-child(4) {
  background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
}

.footer {
  max-width: 100%;
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: hsl(167, 44%, 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navFooter {
  margin-top: 45px;
  margin-bottom: 90px;
  color: hsl(167, 40%, 24%);
  font-family: 'Barlow', sans-serif; 
  gap: 55px;
}

.listRedes {
  font-size: 28px;
  color: hsl(167, 40%, 24%);
  margin-bottom: 20px;
  gap: 25px
}

.navFooter li:hover, .listRedes li:hover {
  cursor: pointer;
  color:hsl(0, 0%, 100%);
  transition: 0.3s;
}

@media (max-width: 425px) {
  .header {
    padding-bottom: 80px;
    background-image: url('../images/mobile/image-header.jpg');
  }

  .logoNav {
    position: relative;
  }

  .btnMobile {
    display: block;
  }

  .navMobile {
    display: none;
    width: 320px;
    padding-top: 45px;
    padding-bottom: 40px;
    background-color: hsl(26, 100%, 99%);
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
  }

  .navMobile::before {
    content: '';
    width: 0;
    height: 0;
    border: 25px solid hsl(0, 0%, 100%);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    right: 0;
    top: -25px;
  }
  
  .navMobile.active {
    display: block;
  }

  .nav {
    gap: 35px;
    flex-direction: column;
    color:hsl(213, 9%, 39%);
  }

  .nav button {
    background-color: hsl(51, 100%, 49%);
  }

  .header h1 {
    font-size: 41px;
    line-height: 51px;
    margin: 55px 0  100px 0;
  }

  .flex {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "imagem" "conteudo";
  }

  .content {
    padding: 65px 32px 35px 32px;
    background-color: hsl(26, 100%, 99%);
  }
  
  .content h2 {
    margin-bottom: 25px;
    font-size: 32px;
    text-align: center;
  }
  
  .content p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .content div span {
    left: 50%;
    transform: translateX(-50%);
  }
  

  .flex.flexReverso {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  "imagem" "conteudo";
  }

  .imgEgg {
    background-image: url('../images/mobile/image-transform.jpg');
  }
  
  .cup {
    background-image: url('../images/mobile/image-stand-out.jpg');
  }

  .subFlex div {
    padding: 400px 20px 60px 20px;
  }
  
  .graphic {
    background-image: url('../images/mobile/image-graphic-design.jpg');
  }
  
  .photography {
    background-image: url('../images/mobile/image-photography.jpg');
  }
}