@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --pink: hsl(322, 100%, 66%);
  --lightPink: hsl(321, 100%, 78%);
  --lightRed: hsl(0, 100%, 63%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --veryPaleBlue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* font-family: 'Poppins', sans-serif; */

.header {
  display: flex;
  flex-direction: column;
}

.flexInterno {
  width: 1295px;
  margin: 80px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 240px;
  height: 38px;
}

.flexInterno .btn {
  padding: 13px 30px;
  background: none;
  border-radius: 25px;
  font-size: 17px;
  color: var(--pink);
  font-family: "Open Sans", sans-serif;
  border: 2px solid var(--pink);
}

.header h1 {
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  color: var(--veryDarkCyan);
  margin-top: 170px;
  margin-bottom: 35px;
}

.header h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: var(--veryDarkCyan);
  max-width: 500px;
  margin: 0 auto;
}

.btnHeader {
  width: 400px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  padding: 30px 0;
  border-radius: 50px;
  background: var(--pink);
  color: var(--veryPaleBlue);
  margin: 50px auto 120px auto;
}

.ilustrationHeader {
  max-width: 930px;
  height: 725px;
  margin: 0 auto;
}
