/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

/* desktop / tablet */

.header .flexHeader{
  padding: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexHeader button {
  width: 135px;
  height: 38px;
  background: none;
  border-radius: 20px;
  border: 2px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.flexHeader button:hover {
  border-color:  hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
  box-shadow: 0px 0px 4px 0px hsl(321, 100%, 78%);
  transition: 0.2s;
}

.header h1 {
  margin-top: 100px;
  text-align: center;
  color: hsl(192, 100%, 9%);
  font-family: 'Poppins', sans-serif;
}

.header > p {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
  line-height: 27px;
  color: hsl(192, 100%, 9%);
}

.header > button {
  width: 300px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 105px;
  border: none;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: hsl(207, 100%, 98%);
  background: hsl(322, 100%, 66%);
  cursor: pointer;
}

.header > button:hover {
  border-color:  hsl(321, 100%, 78%);
  box-shadow: 2px 6px 9px 3px #e5ebeb;
  transition: 0.2s;
}

.header > img {
  margin: 0 auto;
  margin-bottom: 100px;
}

.dadosFlex {
  max-width: 945px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dadosFlex div span{
  font-size: 62px;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}

.dadosFlex div p{
  color: hsl(192, 100%, 9%);
}

/* SEÇÕES */

.growBg {
  background-image: url('../images/bg-section-top-desktop-1.svg'), url('../images/bg-section-bottom-desktop-1.svg');
  background-repeat: no-repeat;
  background-position: top 0vw left 0, bottom 0vw left 0vh;
  background-size: contain;
}

.grid {
  background: hsl(207, 100%, 98%);
}

.bgTopSection1 {
  height: 172px;
  background-image: url('../images/bg-section-top-desktop-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 100px;
}

.gridContainer {
  background-color: hsl(207, 100%, 98%);
  padding-top: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(auto, 120px)
                         minmax(auto, 490px)
                         minmax(auto, 255px)
                         minmax(auto, 510px)
                         minmax(auto, 120px);
  grid-template-areas: ". conteudo . img .";
}

.content {
  grid-area: conteudo;
}

.gridContainer img {
  grid-area: img;
}

.content h1 {
  font-size: 27px;
  color: hsl(192, 100%, 9%);
}

.content p {
  font-size: 15px;
  line-height: 23px;
  color: hsl(192, 100%, 9%);
  margin-top: 25px;
}

.bgBottomSection1 {
  height: 145px;
  background-image: url('../images/bg-section-bottom-desktop-1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.flowing .gridContainer {
  grid-template-areas: ". img . conteudo .";
  background-color: #fff;
}

.bgTopSection3 {
  margin-top: 100px;
  height: 162px;
  background-image: url('../images/bg-section-top-desktop-2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.bgBottomSection3 {
  height: 162px;
  background-image: url('../images/bg-section-bottom-desktop-2.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.yourUsers .gridContainer {
  padding-bottom: 40px;
}

.ready {
  padding: 170px 0;
  text-align: center;
}

.ready h1 {
  font-size: 27px;
  color: hsl(192, 100%, 9%);
  text-align: center;
}

.ready button {
  width: 300px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border: none;
  border-radius: 50px;
  color: hsl(207, 100%, 98%);
  background: hsl(322, 100%, 66%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.ready button:hover {
  border-color:  hsl(321, 100%, 78%);
  box-shadow: 2px 6px 9px 3px #e5ebeb;
  transition: 0.2s;
}


/* FOOTER */
:root {
  --Pink: hsl(322, 100%, 66%);
  --LightPink: hsl(321, 100%, 78%);
  --LightRed: hsl(0, 100%, 63%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
}

.bgTopFooter {
  height: 165px;
  background-image: url('../images/bg-footer-top-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.gridFooter {
  background-color: hsl(192, 100%, 9%);
  padding: 60px 120px 100px 120px;
  color: hsl(207, 100%, 98%);
  display: grid;
  grid-template-columns: minmax(auto, 310px) 
                         minmax(auto, 365px) 
                         minmax(auto, 315px);
  grid-template-areas: "content . form";
  align-items: center;
}

.contact {
  grid-area: content;
}

.contact > p{
  margin: 30px 0;
}

.spanFlex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.spanFlex + .spanFlex {
  margin-top: 20px;
}

.redesSociais {
  list-style: none;
  margin-top: 75px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 22px;
}

.redesSociais li {
  padding: 7px 10px;
  border-radius: 5px;
  background: hsl(207, 100%, 98%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.redesSociais li:nth-child(2) {
  background-color: hsl(192, 100%, 9%);
}

.redesSociais li:nth-child(2) a {
  color: hsl(207, 100%, 98%);
  font-size: 42px;
}

.redesSociais li:nth-child(2):hover {
  background-color: #03c7f1;
}

.redesSociais li:nth-child(2):hover a {
  color: hsl(192, 100%, 9%);
  
}

.redesSociais li:hover {
  background-color: #03c7f1;
} 

li a {
  text-decoration: none;
  color:hsl(192, 100%, 9%);
}


/* formulario do footer */
.formContent {
  grid-area: form;
}

.formContent {
  max-width: 525px;
}

.formContent p {
  max-width: 375px;
}