/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* font-family: 'Poppins', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

/* desktop / tablet */

.header .flexHeader{
  padding: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexHeader button {
  width: 135px;
  height: 38px;
  background: none;
  border-radius: 20px;
  border: 2px solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
}

.header h1 {
  margin-top: 100px;
  text-align: center;
  color: hsl(192, 100%, 9%);
  font-family: 'Poppins', sans-serif;
}

.header > p {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
  line-height: 27px;
  color: hsl(192, 100%, 9%);
}

.header > button {
  width: 300px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 105px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  color: hsl(207, 100%, 98%);
  background: hsl(322, 100%, 66%);
}

.header > img {
  margin: 0 auto;
  margin-bottom: 100px;
}

.dadosFlex {
  max-width: 945px;
  
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dadosFlex div span{
  font-size: 62px;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
}

.dadosFlex div p{
  color: hsl(192, 100%, 9%);
}

.growBg {
  padding-top: 165px;
  padding-bottom: 150px;
  background-image: url('../images/bg-section-top-desktop-1.svg'), url('../images/bg-section-bottom-desktop-1.svg');
  background-repeat: no-repeat;
  background-position: bottom 34vw left 0vh, top 35vw left 0vh;
  background-size: contain;
}

.grid {
  max-width: 100%;
  padding: 0 130px;
  background-color: hsl(207, 100%, 98%);
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 455px));
  grid-template-areas: "conteudo img";
  align-items: center;
  gap: 130px;
}

.content {
  grid-area: conteudo;
}

.content h1 {
  font-size: 27px;
  color: hsl(192, 100%, 9%);
}

.content p {
  font-size: 15px;
  line-height: 23px;
  color: hsl(192, 100%, 9%);
  margin-top: 25px;
}

.grid img {
  grid-area: img;
}

.flowingBg .grid {
  grid-template-areas: "img conteudo";
  background-color: #fff;
}

.flowingBg {
  padding-bottom: 250px;
  background-image: url('../images/bg-section-top-desktop-2.svg');
  background-repeat: no-repeat;
  background-position: bottom 0vw left 0vh;
  background-size: contain;
}

.usersBg {
  padding-bottom: 250px;
  background-image: url('../images/bg-section-bottom-desktop-1.svg');
  background-repeat: no-repeat;
  background-position: top 32vw left 0vh;
  background-size: contain;
}

.ready {
  height: 483px;
  background-image: url('../images/bg-footer-top-desktop.svg');
  background-repeat: no-repeat;
  background-position: top 21vw left 0vh;
  background-size: contain;
}

.ready h1 {
  font-size: 27px;
  color: hsl(192, 100%, 9%);
  text-align: center;
}

.ready button {
  width: 300px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  color: hsl(207, 100%, 98%);
  background: hsl(322, 100%, 66%);
}
/* top 165 */
/* bottom 150 */

:root {
  /* ### Primary */
  --Pink: hsl(322, 100%, 66%);
  --LightPink: hsl(321, 100%, 78%);
  --LightRed: hsl(0, 100%, 63%);
  /* ### Neutral */
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
}


.footer {
  background-color: hsl(192, 100%, 9%);
  padding: 100px 120px 80px 120px;
  color:hsl(207, 100%, 98%);
  display: flex;
  gap: 270px;
}

.contato {
  max-width: 330px;
}

.contato img, p, .form h2 {
  margin-bottom: 25px;
}

.spanFlex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.redesSociais {
  list-style: none;
  margin-top: 60px;
  display: flex;
  justify-items: center;
  gap: 20px;
}

.form {
  max-width: 525px;
}

.form p {
  max-width: 375px;
}

form {
  display: flex;
  gap: 30px;
}

.form input {
  flex: 0 1 320px;
  height: 50px;
  border-radius: 8px;
}

form button {
  /* flex: 0 0 160px; */
  flex: 0 1 160px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: hsl(207, 100%, 98%);
  background: hsl(322, 100%, 66%);
}