@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
/* font-family: 'Overpass', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h4 {
  font-size: 28px;
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass', sans-serif;
  margin-bottom: 30px;
}

p {
  color: hsl(228, 3%, 39%);
  line-height: 27px;
  font-family: 'Overpass', sans-serif;
  margin-bottom: 75px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

:root {
  /* ### Primary */
  --Lightred: hsl(356, 100%, 66%); /* (CTA text)*/
  --Verylightred : hsl(355, 100%, 74%); /*(CTA hover background)*/
  --Verydarkblue : hsl(208, 49%, 24%); /*(headings)*/
/* ### Neutral */
  --White : hsl(0, 0%, 100%); /*(text)*/
  --Grayishblue : hsl(240, 2%, 79%); /*(footer text)*/
  --Verydarkgrayishblue : hsl(207, 13%, 34%); /*(body copy)*/
  --Verydarkblackblue : hsl(240, 10%, 16%); /*(footer background)*/
/* ### Gradient */
/* Background gradient - Intro/CTA mobile nav: */
  --Verylightred: hsl(13, 100%, 72%);
  --Lightred: hsl(353, 100%, 62%);
/* Background gradient - body: */
  --Verydarkgrayblue: hsl(237, 17%, 21%); 
  --Verydarkdesaturatedblue: hsl(237, 23%, 32%);
}

/* inicio header */
.header {
  padding-top: 60px;
  padding-bottom: 150px;
  border-radius: 0 0 0 90px;
  background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, hsl(11, 100%, 72%), hsl(354, 100%, 63%));
  background-position: top -225vh left -35vw, bottom 0vh left 0vw;
  background-repeat: no-repeat;
}

.logoNav {
  max-width: 1120px;
  margin: 0 auto 140px auto;
  display: flex;
  align-items: center;
}

.logoNav img{
  margin-right: 60px;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.navList li:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s;
}

.subList {
  display: none;
}

.loginBtn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.loginBtn span {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.loginBtn button {
  display: block;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
  font-weight: 700;
  font-family: 'Overpass', sans-serif;
  transition: 0.3s;
}

.loginBtn span:hover {
  cursor: pointer;
}

.loginBtn button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
  transition: 0.3s;
}

.btnNavMobile {
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  background-image: url('../images/icon-hamburger.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.header h1 {
  font-size: 60px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 400;
  letter-spacing: -2px;
  font-family: 'Overpass', sans-serif;
}

.header h2 {
  text-align: center;
  font-size: 20px;
  color: hsl(9, 100%, 95%);
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btnsContentHeader {
  max-width: 290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnsContentHeader button {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  transition: 0.3s;
  font-weight: 700;
}

.startForFree {
  border: none;
  border-radius: 25px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
  font-family: 'Ubuntu', sans-serif;
  transition: 0.3s;
}

.LearnMore {
  color: hsl(0, 0%, 100%);
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid hsl(0, 0%, 100%);
  background-color: transparent;
}

.startForFree:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(355, 100%, 74%);
  transition: 0.3s;
}

.LearnMore:hover {
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
  transition: 0.3s;
}

/* inicio designed */

.designed {
  padding-top: 150px;
  padding-bottom: 165px;
  background-image: url('../images/illustration-editor-desktop.svg');
  background-repeat: no-repeat;
  background-position: top 9vh left 52vw;
}

.designed h3 {
  font-size: 37px;
  font-family: 'Overpass', sans-serif;
  color: hsl(208, 49%, 24%);
  text-align: center;
  margin-bottom: 100px;
}

.designed article{
  max-width: 502px;
  margin-left: 130px;
}

.imgMobile {
  display: none;
  font-weight: 300;
  font-family: 'Overpass', sans-serif;
}

/* inicio state */
.state {
  color: hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  padding-top: 120px;
  padding-bottom: 30px;
  border-radius: 0 90px 0 0;
  background-color: hsl(237, 18%, 23%);
  background-image: url('../images/bg-pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: right 40vw top -85vh;

  display: flex;
  justify-content: end;
  position: relative;
}

.state::before {
  content: '';
  display: block;
  width: 527px;
  height: 540px;
  background-image: url('../images/illustration-phones.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -65px;
  left: 135px;
}

.contentState {
  max-width: 520px;
  margin-right: 120px;
}

.contentState h5 {
  font-size: 36px;
  font-weight: 500;
}

.contentState p {
  color:hsl(0, 0%, 98%);
}

/* inicio Free Powerful */
.freePowerful {
  padding-top: 295px;
  padding-bottom: 195px;
  background-image: url('../images/illustration-laptop-desktop.svg');
  background-repeat: no-repeat;
  background-position: center right 48vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.freePowerful article{
  max-width: 502px;
  margin-right: 125px;
}

/* inicio footer */
.footer {
  padding-top: 65px;
  border-radius: 0 90px 0 0;
  background-color: #24242c;
  color: hsl(0, 0%, 100%);
}

.logoLists {
  max-width: 935px;
  margin: 0 auto;
  padding-bottom: 65px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 175px;
}

.logoLists ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logoLists ul li{
  font-size: 16px;
  color: #a3a3ab;
}

.logoLists ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}

.logoLists li h5{
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}