@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 700;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  position: relative;
}

ul {
  max-width: 1115px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px; 
}

p {
  font-weight: 700;
  color:hsl(228, 12%, 44%);
}

.bgBlock {
  width: 100%;
  height: 245px;
  position: absolute;
  background-color: hsl(225, 100%, 98%);
  z-index: -10;
  transition: 0.3s;
}

.header {
  max-width: 1115px;
  padding: 40px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 340px) minmax(auto, 640px) minmax(auto, 145px);
  grid-template-rows: 60px auto;
  grid-template-areas: "tittle . toggle" "dadas dadas dadas";
  align-items: center;
}

.tittle {
  grid-area: tittle;
}

.tittle h1 {
  font-size: 28px;
  color: hsl(230, 17%, 14%);
  transition: 0.3s;
}

.toggle {
  grid-area: toggle;
  display: flex;
  align-items: center;
  gap: 15px;
}

.btnToggle {
  border: none;
  width: 48px;
  padding: 3px;
  border-radius: 20px;
  background-color: hsl(228, 12%, 44%);
  transition: 0.2s;
}

.btnToggle:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #4494d1, #3ecf8e);
  transition: 0.2s;
}

.btnToggle .circle {
  width: 20px;
  height: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  transform: translateX(22px);
  transition: 0.2s;
}

.btnToggle.modeDarkActive .circle {
  transform: translateX(0);
  background-color: hsl(230, 17%, 14%);
  transition: 0.2s;
}

.today {
  grid-area: dadas;
  margin-top: 45px;
}

.today li {
  flex: 0 0 250px;
  padding: 30px 0 25px 0;
  border-radius: 7px;
  background-color: hsl(227, 47%, 96%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.today li::before {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 7px 7px 0 0;
  position: absolute;
  top: 0px;
}

.today li:nth-child(1)::before {

  background-color: hsl(207, 90%, 52%);
}

.today li:nth-child(2)::before  {
  background-color: hsl(202, 87%, 53%);
}

.today li:nth-child(3)::before  {
  background-image: linear-gradient(90deg, #f6bf6f, #e24c96);
  
}

.today li:nth-child(4)::before {
  background-color: hsl(347, 96%, 39%);
}

.today .flex {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.dadas {
  font-size: 55px;
  color: hsl(230, 17%, 14%);
  margin-top: 20px;
  transition: 0.3s;
}

.followers {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: hsl(228, 12%, 44%);
  margin-bottom: 25px;
}

.high {
  color: #33a687;
  position: relative;
}

.high::before {
  content: url('../images/icon-up.svg');
  display: inline;
  position: absolute;
  left: -15px;
  bottom: 2px;
}

.down {
  color:hsl(347, 96%, 39%);
}

.down::before {
  content: url('../images/icon-down.svg');
}

.overview {
  max-width: 1115px;
  margin: 0 auto;
}

.overview h1 {
  color: hsl(228, 12%, 44%);
  font-size: 25px;
  margin-bottom: 25px;
  transition: 0.3s;
}

.overviewToday li {
  flex: 0 0 255px;
  padding: 25px;
  border-radius: 7px;
  background-color: hsl(227, 47%, 96%);
  display: grid;
  align-items: center;
  grid-template-columns: auto minmax(auto, 1fr) auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'p . img' '. . .' 'valorLikes . porcentagem';
  transition: 0.3s;
}

.overviewToday li p {
  grid-area: p;
  margin-bottom: 25px;
}

.overviewToday li img {
  grid-area: img;
  align-self: baseline;
}

.overviewToday li img + span {
  grid-area: valorLikes;
  font-size: 32px;
}

.overviewToday li span + span {
  grid-area: porcentagem;
}

@media (max-width: 425px) {
  .bgBlock {
    border-radius: 0 0 20px 20px;
  }
  
  .header {
    max-width: 325px;
    grid-template-columns: minmax(auto, 325px) ;
    grid-template-rows: auto auto auto;
    grid-template-areas: "tittle" "toggle" "dadas";
  }

  .tittle {
    border-bottom: 1px solid hsl(228, 12%, 44%);
    padding-bottom: 20px;
  }

  .tittle h1 {
    font-size: 23px;
  }
  
  .tittle p {
    margin-top: 10px;
  }

  .toggle {
    justify-content: space-between;
    margin-top: 15px;
  }

  .today li {
    flex: 0 0 100%;
  }
  
  .followers {
    font-weight: 400;
  }
  
  .overview {
    max-width: 325px;
  }
  
  .overviewToday li {
    flex: 0 0 100%;
  }
}

[data-darkMode] {
  transition: 0.3s;
}