@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

ul {
  max-width: 1115px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px; 
}

