@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Commissioner', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

p {
  color: hsl(0, 0%, 48%);
  line-height: 28px;
}
/* header */

.header {
  max-width: 100%;
  height: 400px;
  padding: 40px 160px;
  background-image: url('../images/image-hero-desktop.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

.nav {
  list-style: none;
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav li:hover {
  cursor: pointer;
}

.btnMoile {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-image: url('../images/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

/* containerAbsolute */
.containerGridAbsolute {
  max-width: 730px;
  padding-bottom: 50px;
  position: absolute;
  top: 305px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: minmax(730px,  1fr);
}

.mastercraft {
  max-width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 60px 45px 50px 45px;
  text-align: center;
  position: relative;
}

.mastercraft::before {
  content: url('../images/logo-mastercraft.svg');
  display: block;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.mastercraft h1 {
  font-size: 28px;
}

.mastercraft h2 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 25px;
}

.btnsFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back, .numberBtn button {
  width: 205px;
  height: 55px;
  border-radius: 30px;
  border: none;
  background-color: hsl(176, 50%, 47%);
  font-family: 'Commissioner', sans-serif;
  font-weight: 500;
  color:hsl(0, 0%, 98%);
  transition: 0.3s;
}

.back:hover, .numberBtn button:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
  transition: 0.3s;
}


.btnIcon button{
  width: 145px;
  height: 55px;
  border: none;
  background-color: #f4f4f4;
  border-radius: 50px;
  font-family: 'Commissioner', sans-serif;
  font-weight: 700;
  color:hsl(0, 0%, 48%);
  position: relative;
  z-index: 10;
  padding-left: 65px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.btnIcon svg {
  position: absolute;
  left: 0;
}

.btnIcon button svg circle{
  transition: 0.3s;
}

.btnIcon button:hover {
  cursor: pointer;
  transition: 0.3s;
}

.btnIcon button:hover svg circle{
  transition: 0.3s;
  fill: #707070;
}

.numbersData {
  background-color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  padding: 45px 45px 50px 45px;
}

.dadas {
  margin-bottom: 40px;
}

.dadas li {
  color: hsl(0, 0%, 48%);
  display: flex;
  flex-direction: column;
}

.dadas li span{
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
  margin-bottom: 10px;
}

.dadas li:first-child {
  padding-right: 40px;
}

.dadas li span:first-child {
  font-size: 32px;
  font-weight: 700;
}

.dadas li:nth-child(2) {
  border: 1px solid hsl(0, 0%, 85%);
  border-top: transparent;
  border-bottom: transparent;
  padding: 0 40px;
}

.dadas li:last-child {
  padding-left: 40px;
}

.progressBarContainer {
  max-width: 632px;
  height: 12px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 85%);
}

.progressBar {
  width: 495px;
  height: 12px;
  border-radius: 20px;
  background-color: hsl(176, 50%, 47%);
}

.container {
  max-width: 100%;
  padding: 50px 45px;
  background-color: #fff;
  border-radius: 5px;
}

.container h3 {
  margin-bottom: 40px;
}

.container > p + p {
  margin-top: 35px;
  margin-bottom: 35px;
} 

.container article {
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  margin-top: 25px;
  padding: 40px 30px 30px 30px;
}

.titleSpan {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleSpan span{
  color:hsl(176, 50%, 47%);
}

.numberBtn {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numberBtn span {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
}

.numberBtn span span {
  font-size: 16px;
  font-weight: 400;
  color:hsl(0, 0%, 48%);
}

.numberBtn button {
  width: 155px;
  height: 45px;
}

.contentgray, article.whiteArticle span {
  color: #7a7a7a;
}

.contentgray span{
  color: hsl(171, 31%, 80%);
}

article.whiteArticle p{
  color: #d0d0d0;
}

.numberGray span{
  color: #d0d0d0;
}

.Select.gray {
  background: #cbcbcb;
}

button.gray:hover {
  cursor: auto;
  background: #cbcbcb;
}