@font-face {
  font-family: "Spartan", sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Roboto:wght@300;700&display=swap.ttf";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  font-family: "Spartan", sans-serif;
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: top 0vh left 0vw, bottom -10vh right 0vw;
}

span {
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.headerContainer {
  max-width: 1100px;
  margin: 115px auto 70px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  max-width: 485px;
}

.title h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 47px;
  color: hsl(301, 40%, 22%);
  margin-bottom: 25px;
}

.title p {
  font-size: 17px;
  line-height: 26px;
  color: hsl(306, 6%, 65%);
  letter-spacing: 1px;
}

.starsContainer {
  flex: 0 1 540px;
}

.starsContainer > div {
  max-width: 445px;
  padding: 20px 0;
  border-radius: 8px;
  background-color: hsl(280, 14%, 96%);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.flexStars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flexStars span {
  width: 15px;
  height: 15px;
  background-image: url("../images/icon-star.svg");
  background-size: contain;
}

.starsContainer > div:nth-child(2) {
  margin-left: 40px;
}

.starsContainer > div:nth-child(3) {
  margin-left: 80px;
}

.starsContainer div + span {
  font-size: 15px;
  color: #472548;
  font-weight: 700;
}

.quotesContainer {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.quotesContainer article {
  padding: 30px;
  height: min-content;
  border-radius: 8px;
  background-color: #4f224e;
}

.quotesContainer article:nth-child(2) {
  margin-top: 15px;
}

.quotesContainer article:nth-child(3) {
  margin-top: 30px;
}

.gridAvatar {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 42px auto;
  align-items: center;
  column-gap: 20px;
  grid-template-areas: "img nome" "img buyer";
}

.gridAvatar img {
  grid-area: img;
  border-radius: 50%;
}

.gridAvatar .name {
  font-size: 17px;
  color: #fff;
  font-weight: 700;
}

.gridAvatar .verified {
  font-size: 17px;
  color: #d472af;
}

.quotesContainer article p {
  font-size: 13px;
  line-height: 22px;
  color: #fff;
}

@media (max-width: 470px) {
  body {
    background-image: url("../images/bg-pattern-top-mobile.svg"),
      url("../images/bg-pattern-bottom-mobile.svg");
    padding: 0 10px;
  }

  .headerContainer {
    max-width: 335px;
    margin: 85px auto 50px auto;
  }

  .title h1 {
    font-size: 37px;
    line-height: 36px;
    text-align: center;
  }

  .title p {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 45px;
  }

  .starsContainer > div {
    max-width: 100%;
    padding: 20px 0;
    margin-bottom: 15px;
    flex-direction: column;
    gap: 15px;
  }

  .starsContainer > div:nth-child(2) {
    margin-left: 0;
  }

  .starsContainer > div:nth-child(3) {
    margin-left: 0;
  }

  .quotesContainer {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 15px;
  }

  .quotesContainer article:nth-child(2) {
    margin-top: 0px;
  }

  .quotesContainer article:nth-child(3) {
    margin-top: 0px;
  }
}
