@font-face {
  font-family: "Spartan", sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Roboto:wght@300;700&display=swap.ttf";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
