@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(240, 78%, 98%);
  background-image: url('../images/bg-top.svg'), url('../images/bg-bottom.svg');
  background-position: right 0vw top 0vh, left 0vw bottom 0vh;
  background-repeat: no-repeat;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.container h1 {
  margin-top: 75px;
  margin-bottom: 40px;
  text-align: center;
  color:hsl(233, 13%, 49%);
}

.flexToggle {
  display: flex;
  max-width: 245px;
  margin: 0 auto;
  align-items: center;
  gap: 25px;
  font-size: 14px;
  color: hsl(234, 14%, 74%);
}

.toggle {
  width: 55px;
  height: 33px;
  padding: 4px;
  border-radius: 20px;
  background-image: linear-gradient(60deg, hsl(236, 72%, 79%),hsl(237, 63%, 64%));
  position: relative;
}

.toggle:hover {
  cursor: pointer;
}

.toggle.active .btn{
  right: 4px;
}

.btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: hsl(240, 78%, 98%);
  position: absolute;
}

.ContainerPlanos {
  max-width: 100%;
  margin: 65px auto 50px auto;
  align-items: center; 
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 350px));
  grid-template-areas: "plano1 plano2 plano3";
  margin-top: 65px;
}

.plano {
  padding: 35px 30px 30px 30px;
  border-radius: 10px;
  background-color: #fff;
}

.plano h2 {
  font-size: 15px;
  text-align: center;
  color:hsl(232, 13%, 33%);
  margin-bottom: 40px;
}

.plano span {
  width: 210px;
  margin: 0 auto;
  text-align: center;
  font-size: 58px;
  color: hsl(232, 13%, 33%);
  display: grid;
  grid-template-columns: 25px minmax(auto, 215px);
  align-items: center;
}

.plano span span {
  font-size: 30px;
}

.plano ul {
  list-style: none;
  max-width: 290px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 1px solid #dbdbdb;
  border-right: none;
  border-left: none;
  color:hsl(233, 13%, 49%);
}

.plano ul li {
  padding: 20px 0;
  border-bottom: 1px solid #dbdbdb;
}

.plano ul li:last-child {
  border-bottom: none;
}

.plano button {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(60deg, hsl(236, 72%, 79%),  hsl(237, 63%, 64%) );
  letter-spacing: 1px;
  color:hsl(240, 78%, 98%);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  transition: 1s;
}

.plano button:hover {
  cursor: pointer;
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
  background-color: #fff;
  background-image: none;
  transition: 1s;
}

.ContainerPlanos div:nth-child(1) {
  grid-area: plano1;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 6px 0 hsl(234, 14%, 74%);
}

.ContainerPlanos div:nth-child(3) {
  grid-area: plano3;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 6px 0 hsl(234, 14%, 74%);
}

.planoProfessional {
  grid-area: plano2;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: hsl(237, 63%, 64%);
}

.planoProfessional h2, 
.planoProfessional span, 
.planoProfessional ul li{
  color: #fff;
}

.planoProfessional button{
  background-color: #fff;
  color: hsl(237, 63%, 64%);
  background-image: none;
}

.planoProfessional button:hover{
  background: hsl(237, 63%, 64%);
  border: 1px solid #fff;
  color: #fff;
}

@media (max-width: 768px) {
  body {
    background-position: right 0vw top 0vh, right  65vw bottom -8vh;
  }
}

@media (max-width: 425px) {
  body {
    background-image: url('../images/bg-top.svg');
    background-position: left  50vw top -4vh;
  }
  .container h1 {
    margin-top: 70px;
    margin-bottom: 45px
  }

  .ContainerPlanos {
    margin: 80px auto 50px auto;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 330px) minmax(auto, 1fr);
    grid-template-rows: repeat(3, minmax(auto, 455px));
    grid-template-areas: ". plano1 ." ". plano2 ." ". plano3 .";
    gap: 35px;
  }
  
  .plano {
    height: 455px;
  }

  .plano h2 {
    margin-bottom: 20px;
  }
  
  .plano span {
    width: 210px;
    margin: 0 auto;
    text-align: center;
    font-size: 58px;
    color: hsl(232, 13%, 33%);
    display: grid;
    grid-template-columns: 25px minmax(auto, 215px);
    align-items: center;
  }
  
  .plano span span {
    font-size: 30px;
  }
  
  .plano ul {
    margin-top: 25px;
  }
  
  .ContainerPlanos div:nth-child(1), 
  .ContainerPlanos div:nth-child(3), 
  .planoProfessional{
    border-radius: 10px;
  }
  
  .planoProfessional {
    padding-top: 40px;
    padding-bottom: 37px;
  }

  .planoProfessional span {
    color: #fff;
  }
}

