@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

body {
  min-height: 100vh;
  background-color: hsl(240, 78%, 98%);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
  background-position: right 0vw top 0vh, left 0vw bottom 0vh;
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  width: 1050px;
}

.header_page h1 {
  color: hsl(232, 13%, 33%);
  text-align: center;
}

.container_btn_taggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  margin: 40px 0 65px 0;
}

.container_btn_taggle button {
  display: block;
  width: 55px;
  height: 32px;
  border: none;
  border-radius: 20px;
  background-color: hsl(237, 63%, 64%);
  position: relative;
  transition: 0.3s;
}

.container_btn_taggle button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: hsl(234, 14%, 74%);
}

.container_btn_taggle button:is(:hover, :active) {
  cursor: pointer;
}

.container_btn_taggle button span {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: hsl(240, 78%, 98%);
  position: absolute;
  top: 5px;
  left: 5px;
}

.container_btn_taggle button.active span {
  left: auto;
  right: 5px;
}

.container_btn_taggle > span {
  color: hsl(234, 14%, 74%);
}

.grid_cards {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  margin-bottom: 20px;
}

.card {
  height: max-content;
  text-align: center;
  padding: 33px 30px;
}

.card header p {
  font-size: 18px;
  color: hsl(233, 13%, 49%);
}

.card .number {
  font-size: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(232, 13%, 33%);
  letter-spacing: -0.04em;
}

.card ul {
  list-style: none;
  color: hsl(233, 13%, 49%);
  margin: 20px 0 30px 0;
}

.card ul li {
  border: 1px solid hsl(234, 14%, 74%);
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 20px 0;
}

.card ul li:nth-child(2) {
  border: none;
}

.card .number > span {
  font-size: 74px;
}

.card footer button {
  display: block;
  width: 100%;
  padding: 18px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid transparent;
}

.card:where(:nth-child(1), :nth-child(3)) button {
  background-image: linear-gradient(
    40deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: hsl(240, 78%, 98%);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  transition: 0.7s;
}

.card:where(:nth-child(1), :nth-child(3)) button:hover {
  cursor: pointer;
  transition: 0.7s;
  background-image: none;
  border-color: hsl(237, 63%, 64%);
  background-color: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
}

.card:where(:nth-child(1), :nth-child(3)) {
  background-color: #fff;
}

.card:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

.card:nth-child(3) {
  border-radius: 0 10px 10px 0;
}

.card:nth-child(2) {
  background-image: linear-gradient(
    180.08deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  padding: 60px 20px;
  border-radius: 10px;
}

.card:nth-child(2) header p {
  color: hsl(240, 78%, 98%);
}

.card:nth-child(2) span {
  color: hsl(240, 78%, 98%);
}

.card:nth-child(2) ul {
  color: hsl(240, 78%, 98%);
}

.card:nth-child(2) button {
  background-color: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.3s;
}

.card:nth-child(2) button:hover {
  cursor: pointer;
  transition: 0.3s;
  border-color: hsl(240, 78%, 98%);
  color: hsl(240, 78%, 98%);
  background-color: hsl(237, 63%, 64%);
}

@media (max-width: 700px) {
  body {
    background-position: right -58vw top -13vh, left 15vw bottom 0vh;
  }

  .grid_cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
  }

  .card:nth-child(1) {
    border-radius: 10px;
  }

  .card:nth-child(2) {
    padding: 33px 30px;
    border-radius: 10px;
  }

  .card:nth-child(3) {
    border-radius: 10px;
  }

  .card .number > span {
    font-size: 60px;
  }
}
