@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  color: #fff;
  padding: 10px;
  background: url("../images/bg-intro-desktop.png"), #ff7978;
  background-position: center;
}

.inputContainer :where(span, img) {
  display: none;
}

.container {
  max-width: 1111px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px;
}

.content {
  flex: 0 1 505px;
  height: min-content;
}

.content h1 {
  font-size: 49px;
  line-height: 56px;
  margin-bottom: 29px;
}

.content p {
  font-size: 16px;
  line-height: 26px;
}

.formContainer {
  flex: 0 1 540px;
  height: min-content;
  text-align: center;
}

.tryItFree {
  background-color: #5d54a3;
  font-size: 15px;
  border-radius: 10px;
  padding: 22px 10px;
  margin-bottom: 25px;
  box-shadow: 0px 10px 0px 0px rgb(0 0 0 / 10%);
}

.tryItFree span {
  font-weight: 500;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 50px 40px 45px 40px;
  box-shadow: 0px 10px 0px 0px rgb(0 0 0 / 10%);
}

.inputContainer {
  position: relative;
}

.inputContainer input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 17px 30px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #777779;
  font-size: 13px;
  outline: none;
}

.btnSubmit {
  width: 100%;
  display: block;
  border: none;
  margin-bottom: 13px;
  background-color: #37cc8a;
  border-radius: 10px;
  padding: 15px;
  color: #e7fffa;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 2px;
  box-shadow: 0px 10px 0px 0px #2ca671;
  transition: 0.3s ease-in-out;
}

.btnSubmit:is(:hover, :active) {
  background-color: #77e2b4;
  box-shadow: 0px 10px 0px 0px #6bcca1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.form p {
  color: #a8a8a8;
  font-size: 11px;
  line-height: 26px;
}

.form p span {
  color: #df868a;
  font-weight: 600;
}

/* --------- ERROR ---------- */

.inputContainer input.errorActive {
  border-color: #fa7974;
  margin-bottom: 0;
}

.inputContainer input.errorActive::placeholder {
  color: #fa7974;
}

/* --------- SUCCESS --------- */

.succMessage {
  width: 300px;
  padding: 20px;
  background-color: #37cc8a;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  box-shadow: 0px 10px 0px 0px #2ca671;
  text-align: center;
  color: #e7fffa;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  visibility: hidden;
}

.succMessage.showSuccessSubmit {
  visibility: visible;
  animation: showMessage 0.7s ease-in-out;
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

img.errorActive {
  max-width: 100%;
  display: block;
  position: absolute;
  top: 20px;
  right: 26px;
}

span.errorActive {
  display: block;
  text-align: end;
  font-size: 11px;
  line-height: 26px;
  color: #fa7974;
  font-style: italic;
  margin: 9px 0 18px 0;
}

@media (max-width: 500px) {
  body {
    background: url("../images/bg-intro-mobile.png"), #ff7978;
    background-size: cover;
  }

  .content {
    text-align: center;
  }
  .content h1 {
    font-size: 27px;
    line-height: 37px;
  }

  .form {
    padding: 24px;
  }

  .form p {
    margin-top: 25px;
    font-size: 13px;
    line-height: 14px;
  }

  .succMessage {
    width: 255px;
  }
}
