@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */
  --Orange: hsl(25, 97%, 53%);
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
  font-size: 15px;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  background: hsl(216, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

h1 {
  color:hsl(0, 0%, 100%);
}

p {
  color: hsl(217, 12%, 63%);
}

.container {
  max-width: 412px;
  height: 420px;
  background-color: hsl(215, 21%, 16%);
  border-radius: 20px;
  padding: 30px;
  /* display: none; */
}

.img {
  width: 50px;
  height: 50px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin: 32px 0 15px 0;
  font-size: 27px;
}

.container p {
  line-height: 26px;
  margin-bottom: 25px;
}

.listBtns {
  max-width: 100%;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listBtns li {
  width: 50px;
  height: 50px;
  color: #828a95;
  font-weight: 700;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listBtns li:hover {
  background: #7c8798;
  color:hsl(0, 0%, 100%);
}

.listBtns li.active {
  background: hsl(25, 97%, 53%);
  color:hsl(0, 0%, 100%);
  transition: 0.3s;
}

.btn {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Overpass', sans-serif;
  border-radius: 35px;
  color:hsl(0, 0%, 100%);
  background: hsl(25, 97%, 53%);
  transition: 0.3s;
}

.btn:hover {
  color:hsl(25, 97%, 53%);
  background: hsl(0, 0%, 100%);
}

/* MODAL */

.containerModal {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.content {
  max-width: 412px;
  height: 420px;
  background-color: hsl(215, 21%, 16%);
  border-radius: 20px;
  padding: 45px 30px;
  text-align: center;
  display: none;
}

.content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.msg {
  width: 195px;
  border-radius: 50px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 30px;
  color:hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
}

.content h1 {
  margin: 32px 0 15px 0;
  font-size: 27px;
}

.content p {
  line-height: 26px;
  margin-bottom: 25px;
  text-align: center;
  padding: 0 5px;
}

.content.aparecer {
  display: block;
}