@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  background: hsl(216, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

h1 {
  color:hsl(0, 0%, 100%);
}

p {
  color: hsl(217, 12%, 63%);
}

/* LAYOUT PARA DESKTOP E TABLET */

.container {
  max-width: 412px;
  height: 420px;
  background-color: hsl(215, 21%, 16%);
  border-radius: 20px;
  padding: 30px;
}

.img {
  width: 50px;
  height: 50px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  margin: 32px 0 15px 0;
  font-size: 27px;
}

.container p {
  line-height: 26px;
  margin-bottom: 25px;
}

.listBtns {
  max-width: 100%;
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listBtns li {
  width: 50px;
  height: 50px;
  color: hsl(215, 8%, 55%);
  font-weight: 700;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listBtns li:hover {
  background: hsl(216, 12%, 54%);
  color:hsl(0, 0%, 100%);
}

.listBtns li.active {
  background: hsl(25, 97%, 53%);
  color:hsl(0, 0%, 100%);
  transition: 0.3s;
}

.btn {
  display: block;
  width: 100%;
  height: 45px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Overpass', sans-serif;
  border-radius: 35px;
  color:hsl(0, 0%, 100%);
  background: hsl(25, 97%, 53%);
  transition: 0.3s;
}

.btn:hover {
  color:hsl(25, 97%, 53%);
  background: hsl(0, 0%, 100%);
}

/* MODAL */

.containerModal {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.content {
  max-width: 412px;
  height: 420px;
  background-color: hsl(215, 21%, 16%);
  border-radius: 20px;
  padding: 45px 30px;
  text-align: center;
  display: none;
  position: relative;
  top: -18px;
}

.content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.msg {
  width: 195px;
  border-radius: 50px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 30px;
  color:hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
}

.content h1 {
  margin: 32px 0 15px 0;
  font-size: 27px;
}

.content p {
  line-height: 26px;
  margin-bottom: 25px;
  text-align: center;
  padding: 0 5px;
}

.content.aparecer {
  display: block;
}

.container.sumir {
  display: none;
}

/* LAYOUT PARA MOBILE */

@media (max-width: 425px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 330px;
    height: 360px;
    padding: 20px;
    padding-bottom: 30px;
  }
  
  .img {
    width: 40px;
    height: 40px;
  }
  
  .container h1 {
    margin: 32px 0 15px 0;
    font-size: 24px;
  }
  
  .container p {
    line-height: 23px;
    margin-bottom: 25px;
  }
  
  .listBtns {
    margin-bottom: 20px;
  }
  
  .listBtns li {
    width: 40px;
    height: 40px;
  }

  /* MODAL */
  
  .content {
    max-width: 330px;
    height: 360px;
    padding: 38px 30px;
  }
  
  .content img {
    max-width: 146px;
    height: 96px;
  }
  
  .content.aparecer .msg {
    margin-bottom: 25px;
    padding: 4px 5px;
  }
  
  .content h1 {
    margin: 30px 0 15px 0;
    font-size: 27px;
  }
  
  .content p {
    line-height: 21px;
    margin-bottom: 25px;
    padding: 0 5px;
    font-size: 13px;
  }
}