@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  font-size: 15px;
  height: 100vh;
  padding: 15px;
  background: hsl(216, 12%, 8%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

.containerSelectBtn {
  max-width: 415px;
  background-color: hsl(215, 21%, 16%);
  border-radius: 20px;
  padding: 30px;
}

.star {
  max-width: max-content;
  background-color: #273039;
  border-radius: 50%;
  margin-bottom: 30px;
  padding: 15px;
}

.containerSelectBtn h1 {
  color: #fff;
  font-size: 27px;
}

.containerSelectBtn p {
  line-height: 26px;
  margin: 20px 0;
  color: hsl(217, 12%, 63%);
}

.btns {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btns button {
  width: 55px;
  height: 55px;
  border: none;
  background-color: #273039;
  border-radius: 50%;
  color: hsl(215, 8%, 55%);
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.btns button:hover {
  cursor: pointer;
  background: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
  transition: 0.3s ease-in-out;
}

.btns button.select {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  transition: 0.3s ease-in-out;
}

#submit {
  width: 100%;
  height: 45px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 35px;
  color: hsl(0, 0%, 100%);
  background: hsl(25, 97%, 53%);
  transition: 0.3s ease-in-out;
}

#submit:hover {
  cursor: pointer;
  color: hsl(25, 97%, 53%);
  background: hsl(0, 0%, 100%);
  transition: 0.3s ease-in-out;
}

.containerThankYouMessage {
  max-width: 415px;
  background-color: hsl(215, 21%, 16%);
  border-radius: 20px;
  padding: 35px 37px;
  text-align: center;
  display: none;
}

.containerThankYouMessage img {
  margin: 0 auto;
}

.containerThankYouMessage > span {
  max-width: max-content;
  border-radius: 50px;
  margin: 25px auto 30px auto;
  padding: 5px 10px 3px 10px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 18%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.containerThankYouMessage h1 {
  color: #fff;
  font-size: 27px;
}

.containerThankYouMessage p {
  line-height: 26px;
  margin-top: 15px;
  color: hsl(217, 12%, 63%);
}

@media (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .btns button {
    width: 40px;
    height: 40px;
  }
}
