@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin: 80px auto 55px auto;
}

header h1 {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
  color: hsl(0, 0%, 59%);
}

header h1 span {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
}

header h2 {
  font-size: 0.8em;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

form {
  display: grid;
  grid-template-columns: 420px 200px;
  grid-template-rows: 55px auto;
  grid-template-areas:
    "input button"
    "label label";
}

form input {
  grid-area: input;
  display: block;
  padding-left: 30px;
  border-radius: 30px;
  border: 1px solid hsl(223, 100%, 88%);
}

form input:focus {
  outline: none !important;
  border: 1px solid hsl(223, 100%, 88%);
}

form input::placeholder {
  font-family: "Libre Franklin", sans-serif;
  color: hsl(223, 100%, 88%);
  font-size: 16px;
}

form label {
  grid-area: label;
  font-size: 0.55em;
  display: none;
  margin: 10px 0 0 30px;
  color: hsl(354, 100%, 66%);
}

form label.invalido {
  display: block;
}

form button {
  grid-area: button;
  letter-spacing: 1px;
  font-size: 0.65em;
  font-weight: 600;
  color: #fff;
  border: none;
  margin-left: 15px;
  border-radius: 30px;
  background: hsl(223, 85%, 62%);
  box-shadow: 0 10px 7px rgb(222, 229, 255);
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  transition: 0.3s;
  background: hsl(224, 87%, 70%);
}

.imagem img {
  display: block;
  max-width: 100%;
  margin-top: 85px;
  margin-bottom: 70px;
}

.redes {
  width: 140px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li a {
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid hsl(0, 0%, 59%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

li a:hover {
  transition: 0.3s;
  border-color: hsl(223, 85%, 62%);
  background: hsl(223, 85%, 62%);
  transition: 0.3s;
}

a i {
  color: hsl(223, 85%, 62%);
  transition: 0.3s;
}

li a:hover i {
  color: #fff;
  transition: 0.3s;
}

.articleFooter p {
  font-size: 0.55em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: hsl(0, 0%, 59%);
}

@media (max-width: 750px) {
  .container {
    max-width: 635px;
    margin: 0 50px;
  }

  header h1 {
    font-size: 1.5em;
  }

  header h2 {
    font-size: 0.8em;
  }

  form {
    margin: 0 auto;
    max-width: 565px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "input"
      "label"
      "button";
  }

  form input {
    grid-area: input;
    height: 50px;
    margin: 0 0 10px 0;
  }

  form label {
    grid-area: label;
    font-size: 0.8em;
    text-align: center;
    display: none;
    margin: 0 0 30px 0;
  }

  form button {
    grid-area: button;
    height: 50px;
    margin: 0;
  }
}
