@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

body {
  min-height: 100vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  background-color: var(--Off-Black);
}

.card_container {
  flex: 1px;
  max-width: 380px;
  border-radius: 11px;
  padding: 40px;
  background-color: var(--Dark-Grey);
  text-align: center;
  color: var(--White);
}

.card_container img {
  width: 88px;
  margin: 0 auto 26px auto;
  display: block;
  border-radius: 50%;
}

.card_container h1 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1.3px;
}

.card_container h2 {
  font-size: 14px;
  color: var(--Green);
  margin: 10px 0 25px 0;
}

.card_container h3 {
  font-size: 14px;
  font-weight: 400;
}

.nav_links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav_links a {
  text-decoration: none;
  color: var(--White);
  font-weight: 600;
  display: block;
  padding: 15px;
  border-radius: 7px;
  background-color: var(--Grey);
  transition: all 0.3s;
}

.nav_links a:is(:active, :hover) {
  color: var(--Off-Black);
  background-color: var(--Green);
}
