@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  font-size: 16px;
  background-color: hsl(185, 41%, 84%);
}

.headerLogo img {
  margin: 50px auto 85px auto;
  display: block;
  max-width: 100%;
}

.containerGeral {
  max-width: 920px;
  margin: 0 auto 20px auto;
  padding: 32px;
  border-radius: 33px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form {
  flex: 0 1 380px;
}

.form label {
  display: block;
  color: hsl(183, 100%, 15%);
  margin-bottom: 12px;
  font-weight: bold;
}

.form input {
  display: block;
  width: 100%;
  padding: 5px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: #f3f8fb;
  font-size: 24px;
  text-align: end;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.form div:not(.numberPeople) {
  margin-bottom: 40px;
}

.form :where(.billContainer, .numberPeople) {
  position: relative;
}

.imgAbsolue {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.sectionBtn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 47px;
  column-gap: 14px;
  row-gap: 16px;
}

.sectionBtn button {
  background-color: hsl(183, 100%, 15%);
  font-size: 24px;
  color: #fff;
  border-radius: 4px;
  border: none;
  transition: 0.3s ease-in-out;
}

.sectionBtn button:is(:hover, :active) {
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  background-color: #26c2ad;
  transition: 0.3s ease-in-out;
}

.sectionBtn input {
  font-size: 21px;
}

.errirTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  color: hsl(12, 45%, 59%);
  font-weight: bold;
  display: none;
}

.error.errActive {
  display: block;
}

.containerValue {
  flex: 0 1 413px;
  border-radius: 13px;
  padding: 55px 40px 40px 40px;
  background-color: hsl(183, 100%, 15%);
}

.containerValue div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerValue div p {
  color: hsl(0, 0%, 100%);
}

.containerValue div p span {
  font-size: 14px;
  color: hsl(186, 25%, 54%);
}

.Total {
  margin: 50px 0 100px 0;
}

.valueContent span {
  text-align: end;
  color: hsl(171, 69%, 45%);
  font-weight: bold;
  font-size: 47px;
}

.containerValue button {
  background-color: #26c2ad;
  display: block;
  border: none;
  border-radius: 4px;
  width: 100%;
  height: 47px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  transition: 0.3s ease-in-out;
}

.containerValue button:is(:hover, :active) {
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  background-color: hsl(173, 61%, 77%);
  transition: 0.3s ease-in-out;
}
