@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

body {
  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexContainer {
  flex: 0 1 540px;
}

.header {
  max-width: 540px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 15px;
  padding: 30px;
  color:hsl(27, 66%, 92%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  line-height: 0;
}

.header span {
  font-size: 32px;
  font-weight: 700;
}

section {
  max-width: 540px;
  background-color: hsl(33, 100%, 98%);
  border-radius: 15px;
  padding: 30px;
  margin: 25px 0;
}

section h1 {
  color:hsl(25, 47%, 15%);
  line-height: 0;
}

.flexColumns {
  border-bottom: 2px solid hsl(27, 66%, 92%);
  padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.columnContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data {
  width: 75px;
  padding: 10px 0;
  border-radius: 5px;
  background-color: hsl(25, 47%, 15%);
  color:hsl(33, 100%, 98%);
  text-align: center;
  margin: 10px 0 5px 0;
  visibility: hidden;
}

.data.selected {
  visibility: visible;
  animation: show 0.2s ease-in;
}

@keyframes show {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.column {
  width: 50px;
  border-radius: 5px;
  background-color: hsl(10, 79%, 65%);
  transition: 0.3s;
}

.column:hover {
  background-color: #ff9b87;
  transition: 0.3s;
  cursor: pointer;
}

.column.selectedColumn{
  background-color: #ff9b87;
  transition: 0.3s;
  cursor: pointer;
}

.columnContainer:nth-child(1) .column {
  height: 50px;
}
.columnContainer:nth-child(2) .column {
  height: 100px;
}
.columnContainer:nth-child(3) .column {
  height: 150px;
  background-color:hsl(186, 34%, 60%);
}
.columnContainer:nth-child(3) .column:hover {
  background-color:#b4dfe5;
}
.columnContainer:nth-child(3) .column.selectedColumn {
  background-color:#b4dfe5;
}
.columnContainer:nth-child(4) .column {
  height: 90px;
}
.columnContainer:nth-child(5) .column {
  height: 65px;
}
.columnContainer:nth-child(6) .column {
  height: 120px;
}
.columnContainer:nth-child(7) .column {
  height: 70px;
}

.day {
  color: hsl(28, 10%, 53%);
  line-height: 0;
}

footer {
  padding-top: 20px;
}

footer p {
  color:hsl(28, 10%, 53%);
  line-height: 0;
}

.flexFooter {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flexFooter span {
  font-weight: 700;
  color:hsl(25, 47%, 15%);
}

.flexFooter > span {
  font-size: 50px;
}

.flexFooter p {
  line-height: 0;
}
