@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/*   font-family: 'Epilogue', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.header {
  color: hsl(0, 0%, 41%);
  padding: 40px 20px;
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 70px;
}

.btnMobile {
  width: 32px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url('../images/icon-menu.svg');
  background-repeat: no-repeat;
  display: none;
  z-index: 250;
  transition: 0.3s;
}

.navMobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.navList li:hover, .loginBtn p:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  transition: 0.3s;
}

.subUl {
  position: relative;
}

.subUl::after {
  content: url('../images/icon-arrow-down.svg');
  display: inline;
  margin-left: 5px;
}

.subUl .subList {
  width: 170px;
  height: 0px;
  padding: 0 20px;
  overflow-y: hidden;
  transition: 1s;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 35px;
}

.alignAbsolute1 {
  right: 0;
}

.alignAbsolute2 {
  width: 150px;
  left: 0;
}

.subUl .subList li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.loginBtn {
  display: flex;
  align-items: center;
  gap: 40px;
}

.loginBtn button, .btnContent {
  background-color: transparent;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
  letter-spacing: 1px;
  font-family: 'Epilogue', sans-serif;
  width: 100px;
  height: 38px;
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 12px;
}

.loginBtn button:hover {
  cursor: pointer;
  transition: 0.3s;
  color: hsl(0, 0%, 8%);
  border: 2px solid hsl(0, 0%, 8%);
  transition: 0.3s;
}

.gridContent {
  /* padding: 0 160px; */
  display: grid;
  grid-template-columns: minmax(auto, 160px) /* espaço em branco*/
                         minmax(auto, 510px) /* conteudo */
                         minmax(auto, 1fr)   /* espaço em branco*/
                         minmax(465px, 1fr)  /* imagem */
                         minmax(auto, 160px);/* espaço em branco*/
  grid-template-areas: ". conteudo . img .";
} 

.content {
  grid-area: conteudo;
}

.content h1{
  font-size: 75px;
  margin-top: 100px;
  margin-bottom: 45px;
  color:hsl(0, 0%, 8%);
}

.content p {
  max-width: 420px;
  line-height: 27px;
  color:hsl(0, 0%, 41%);
}

.btnContent {
  width: 163px;
  height: 56px;
  background-color: hsl(0, 0%, 8%);
  color:hsl(0, 0%, 98%);
  font-weight: 700;
  border-color: hsl(0, 0%, 8%);
  margin-top: 50px;
  margin-bottom: 110px;
  transition: 0.3s;
}

.btnContent:hover {
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  color: hsl(0, 0%, 8%);
}

.listImgs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.bgRight {
  grid-area: img;
  width: 100%;
  background-image: url('../images/image-hero-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* interação JS */

.btnMobile.active {
  background-image: url('../images/icon-close-menu.svg');
  z-index: 250px;
}

.subUl.up::after {
  content: url('../images/icon-arrow-up.svg');
  display: inline;
  margin-left: 5px;
  transition: 0.3s;
}

.alignAbsolute1.dropDownOpened {
  height:  155px;
  padding: 20px;
  overflow-y: hidden;
  transition: 1s;
}

.alignAbsolute2.dropDownOpened {
  height:  118px;
  padding: 20px;
  overflow-y: hidden;
  transition: 1s;
}

/* tablet */

@media(max-width: 770px) {
  .header {
    justify-content: space-between;
    margin-bottom: 0;
  }

  .btnMobile {
    display: block;
    z-index: 250;
  }

  .navMobile {
    max-width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    position: absolute;
  }

  .navList {
    width: 0;
    height: 100vh;
    padding-top: 80px;
    padding-left: 0;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
  }

  .subUl .subList {
    position: relative;
    padding-top: 0;
  }

  .alignAbsolute1.dropDownOpened {
    height:  155px;

  }

  .alignAbsolute2.dropDownOpened {
    height:  118px;
  }

  .subUl::after {
    position: absolute;
    top: 0;
    left: 75px;
  }

  .loginBtn {
    display: none;
  }
  

  .navMobile.active {
    max-width: 100%;
  }

  .navMobile.active .navList{
    width: 240px;
    padding-left: 25px
  }

  .btnMobile.active {
    background-image: url('../images/icon-close-menu.svg');
  }

  .gridContent {
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 500px auto;
    grid-template-areas: ". img ." ". conteudo .";
  } 
  
  .bgRight {
    background-image: url('../images/image-hero-mobile.png');
  }

  .content h1{
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .content h1 br {
    display: none;
  }

  .content p {
    max-width: 565px;
    margin: 0 auto;
    text-align: center;
  }
  
  .btnContent {
    margin: 30px auto 50px auto;
    display: block;
  }

  .listImgs {
    justify-content: center;
    margin-bottom: 20px;
  }
}

/* mobile */

@media(max-width: 425px) {
  .header {
    margin-bottom: -40px;
  }

  .gridContent {
    grid-template-columns: 1fr;
    grid-template-rows: 310px auto;
  } 
  
  .bgRight {
    background-image: url('../images/image-hero-mobile.png');
  }

  .content h1{
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .content p {
    max-width: 355px;
  }
  
  .btnContent {
    margin: 25px auto 50px auto;
    display: block;
  }

  .listImgs {
    width: 100%;  
    flex-wrap: wrap;
    gap: 25px;
  }

  .listImgs li {
    flex: 0 0 60px;
  }
}