@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  background: url("../images/bg-desktop.svg"), hsl(257, 40%, 49%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  display: block;
}

.container_center {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  padding: 60px 0;
  margin-bottom: 42px;
}

.container_main .container_center {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 55px;
  flex-wrap: wrap;
}

.container_main .container_center img,
.content {
  flex: 1;
}

.container_main h1 {
  font-size: 40px;
  line-height: 59px;
  font-family: "Poppins", sans-serif;
  margin: 45px 0;
}

.container_main p {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
}

.container_main button {
  border: none;
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 21px 4px hsl(257, 40%, 40%);
  color: #674baf;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}

.contentContainer button:is(:hover, :active) {
  cursor: pointer;
  color: #fff;
  background-color: hsl(300, 69%, 71%);
  transition: 0.3s ease-in-out;
}

footer .container_center {
  display: flex;
  justify-content: flex-end;
  padding: 25px 0 40px 0;
}

.redesFooter {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.redesFooter li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.redesFooter li a {
  color: #fff;
  line-height: 0;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s;
}

.redesFooter li:hover {
  border-color: hsl(300, 69%, 71%);
  cursor: pointer;
}

.redesFooter li:hover a {
  color: hsl(300, 69%, 71%);
}
