* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 10px;
  font-family: "Kumbh Sans", sans-serif;
  background: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-top.svg"), #19a2ae;
  background-repeat: no-repeat;
  background-position: right 51vw bottom 20vh, left 45vw top 50vh;
  display: grid;
  grid-template-columns: minmax(auto, 350px);
  grid-template-rows: auto min-content;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

li span {
  display: block;
}

.bgImgTop {
  height: 140px;
  background-image: url("../images/bg-pattern-card.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 11px 11px 0 0;
}

.perfil {
  padding-top: 73px;
  text-align: center;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 11px 11px;
}

.perfil img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  top: -46px;
  left: 50%;
  transform: translateX(-50%);
}

.perfil h1 {
  font-size: 18px;
  color: #32323c;
  margin-bottom: 12px;
}

.perfil h1 span {
  font-weight: 400;
  margin-left: 7px;
}

.perfil h2 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #767680;
  margin-bottom: 28px;
}

ul {
  list-style: none;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  padding: 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

ul li span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  color: #32323c;
  margin-bottom: 10px;
}

ul li span:nth-child(2) {
  font-size: 11px;
  font-weight: 400;
  color: #767680;
  letter-spacing: 2px;
}
