* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  padding: 10px;
  background: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-top.svg"), #19a2ae;
  background-repeat: no-repeat;
  background-position: right 51vw bottom 20vh, left 45vw top 50vh;
  display: grid;
  grid-template-columns: minmax(auto, 350px);
  grid-template-rows: auto min-content;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cardContainer {
  width: 100%;
  height: min-content;
  border-radius: 11px;
  background-color: #fff;
}

.perfil::before {
  content: "";
  width: 100%;
  height: 140px;
  display: block;
  background-image: url("../images/bg-pattern-card.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 11px 11px 0 0;
}
