@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}

body {
  font-size: 16px;
  min-height: 100vh;
  background-color: var(--Yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 50px 18px 50px 10px;
}

.container {
  max-width: 380px;
  flex: 1;
  background-color: var(--White);
  padding: 23px;
  border-radius: 17px;
  border: 1px solid var(--Black);
  box-shadow: 9px 9px 0 0 var(--Black);
}

span {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

.container > img {
  border-radius: 13px;
}

.learning {
  width: max-content;
  font-weight: 800;
  border-radius: 5px;
  padding: 6px 13px;
  background-color: var(--Yellow);
  margin: 23px 0 16px 0;
}

.published {
  margin: 0 0 16px 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 16px;
  transition: all 0.3s;
}

h1:hover {
  cursor: pointer;
  color: var(--Yellow);
}

p {
  color: var(--Grey);
  margin-bottom: 16px;
  line-height: 25px;
}

.container div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container div img {
  width: 32px;
}

.container div span {
  font-weight: 800;
}
