@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: hsl(36, 100%, 99%);
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  padding: 80px 0 50px 0;
}

.headerFlex {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.nav li {
  color: hsl(236, 13%, 42%);
  transition: .3s;
  padding: 5px;
}

.nav li:hover {
  cursor: pointer;
  color: hsl(5, 85%, 63%);
  transition: .3s;
}

.buttonMobile {
  background-color: transparent;
  border: none;
  display: none;
}

.buttonMobile span {
  display: block;
  width: 40px;
  height: 35px;
  background-image: url('../assets/images/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.articleContainerFlex {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.articleContainerFlex article {
  max-width: 730px;
  display: grid;
  grid-template-columns: 295px 350px;
  grid-template-rows: 305px auto;
  grid-template-areas: 
  'img img'
  'title content';
  column-gap: 85px;
}

.imgBg {
  grid-area: img;
  background-image: url('../assets/images/image-web-3-desktop.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} 

.imgBg + h1 {
  margin-top: 38px;
  line-height: 55px;
  font-size: 54px;
  font-weight: 800;
  color: hsl(240, 100%, 5%);
}

.contentReadMore p {
  color:hsl(236, 13%, 42%);
  line-height: 20px;
  margin-top: 40px;
}

.contentReadMore button {
  width: 185px;
  height: 48px;
  border: none;
  margin-top: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color:hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  font-family: 'Inter', sans-serif;
  transition: .3s;
}

.contentReadMore button:hover {
  cursor: pointer;
  transition: .3s;
  background-color: hsl(240, 100%, 5%);
}

.asideContainer {
  padding: 30px 26px;
  color:hsl(36, 100%, 99%);
  background-color: hsl(240, 100%, 5%);
}

.asideContainer h2 {
  font-size: 35px;
  color: hsl(35, 77%, 62%);
  margin-bottom: 30px;
}

.asideContainer h3 {
  font-size: 15px;
  margin-bottom: 12px;
  transition: .3s;
}

.asideContainer h3:hover {
  cursor: pointer;
  transition: .3s;
  color:hsl(35, 77%, 62%);
}

.asideContainer p {
  color:hsl(236, 13%, 42%);
  line-height: 24px;
  font-size: 15px;
}

.asideContainer p::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsl(236, 13%, 42%);
  margin: 33px 0;
}

.asideContainer p:last-child::after {
  display: none;
}

.ListNav {
  max-width: 1110px;
  margin: 65px auto;
}

.ListNav ul {
  list-style: none;
  display: flex;
  align-items: center;  
  column-gap: 45px;
}

.ListNav ul li {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 20px;
}

.ListNav li div span {
  font-size: 32px;
  font-weight: 900;
  color:#cfcdd0;
}

.ListNav li div h4 {
  font-size: 16px;
  margin: 15px 0;
  transition: .3s;
}

.ListNav li div h4:hover {
  cursor: pointer;
  transition: .3s;
  color: hsl(5, 85%, 63%);
}

.ListNav li div p {
  color:hsl(236, 13%, 42%);
  line-height: 20px;
}