@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Barlow', sans-serif; 
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-transform: uppercase;
  overflow-x: hidden;
}

.header {
  max-width: 1170px;
  margin: 60px auto 125px auto;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  z-index: 10;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Barlow Condensed', sans-serif;
}

.navList li {
  cursor: pointer;
  
}

.navList li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: hsl(230, 29%, 20%);
  transition: 0.3s;
}

.navList li:nth-child(1):hover::after{
  width: 65px;
  transition: 0.3s;
}

.navList li:nth-child(2):hover::after{
  width: 70px;
  transition: 0.3s;
}

.navList li:nth-child(3):hover::after{
  width: 58px;
  transition: 0.3s;
}

.separatorCircle::after {
  display: none;
  visibility: hidden;
}


.separatorCircle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: hsl(231, 7%, 65%);
}

.separatorCircle:hover {
  cursor: default;
} 

.navList li:last-child {
  color: hsl(231, 7%, 65%);
}

.navList li:last-child::after {
  content: '';
  display: block;
  width: 0;
  background-color: hsl(231, 7%, 65%);
  transition: 0.3s;
}

.navList li:last-child:hover::after {
  content: '';
  display: block;
  width: 42px;
  background-color: hsl(231, 7%, 65%);
  transition: 0.3s;
}

.btnNav {
  width: 35px;
  height: 35px;
  display: none;
  background-color: transparent;
  border: none;
  background-image: url('../images/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* contentudo do article */
.gridContainer {
  max-width: 100%;
  margin-bottom: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(20px, 160px) 
                         auto 
                         minmax(20px, 155px)
                         minmax(auto, 648px);
  grid-template-areas: '. conteudo . img';
}

.content {
  grid-area: conteudo;
}

.content p:first-child{
  margin-bottom: 25px;
  letter-spacing: 2px;
  color:hsl(231, 7%, 65%);
}

.content p span {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  padding: 7px 10px;
  border-radius: 25px;
  background-color: hsl(230, 29%, 20%);
  margin-right: 15px;
}

.content h1 {
  font-size: 60px;
  color: hsl(230, 29%, 20%);
  font-family: 'Barlow Condensed', sans-serif;
}

.content h1 + p {
  margin: 26px 0 58px 0;
  text-transform: none;
  line-height: 25px;
  color: hsl(230, 29%, 20%);
}

.btnContent {
  display: flex;
  align-items: center;
  gap: 25px;
}

.btnContent button{
  width: 185px;
  height: 50px;
  border: none;
  border-radius: 7px;
  background-color: hsl(0, 100%, 68%);
  font-size: 15px;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Barlow Condensed', sans-serif; 
}

.btnContent button:hover {
  cursor: pointer;
  background-color: #ff8584;
  transition: 0.3s;
}

.btnContent p {
  font-size: 15px;
  color: hsl(231, 7%, 65%);
  letter-spacing: 3px;
  font-family: 'Barlow Condensed', sans-serif; 
}

.ilustracao {
  grid-area: img;
}

.ilustracao img {
  position: absolute;
  top: 160px;
  left: 805px;
  z-index: 40;
}

.corDeFundo {
  position: absolute;
  width: 730px;
  height: 430px;
  top: -60px;
  left: 790px;
  border-radius:  0 0 0 70px;
  background-color: hsl(207, 33%, 95%);
  z-index: 5;
}

@media (max-width: 425px) {
  body {
    font-size: 15px;
  }

  .header {
    max-width: 310px;
    margin: 35px auto 66px auto;
    position: relative;
    
  }

  nav {
    display: block;
    z-index: 50;
  }

  .navMobile {
    display: none;
  }

  .navMobile.active {
    width: 315px;
    padding: 30px 25px ;
    position: absolute;
    display: block;
    top: 65px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 20px 0 hsl(240, 4%, 90%);
    z-index: 150;
    left: 50%;
    transform: translateX(-50%);
  }

  .navList {
    max-width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 30px;
  }
  
  .btnNav {
    display: block;
    border: none;
    background-image: url('../images/icon-hamburger.svg');
    transition: 0.2s;
  }

  .navMobile.active + .btnNav {
    background-image: url('../images/icon-close.svg');
    transition: 0.2s;
  }

  .separatorCircle {
    width: 100%;
    height: 1px;
    border-radius: 0;
  }
  
  .gridContainer {
    grid-template-columns: 30px 
                           minmax(auto, 300px)
                           30px;
    grid-template-rows: 300px minmax(auto, 57px) minmax(auto, 255px);
    grid-template-areas: ". . ."
                         ". img ."
                         ". conteudo .";
  } 

  .ilustracao img {
  height: 262px;
  top: 130px;
  left: 0;
  }

  .corDeFundo {
  position: absolute;
  width: 190px;
  height: 460px;
  top: 0px;
  left: 210px;
  border-radius: 0 0 0 70px;
  background-color: hsl(207, 33%, 95%);
  z-index: 5;
  }

  .content p:first-child{
    font-family: 'Barlow Condensed', sans-serif;
  }

  .content p span {
    font-weight: 700;
    padding: 4px 10px 7px 10px;
  }

  .content h1 {
    font-size: 39px;
    color: hsl(230, 29%, 20%);
    font-family: 'Barlow Condensed', sans-serif;
  }

  .content h1 + p {
    margin: 13px 0 28px 0;
    font-size: 18px;
  }

  .btnContent {
    gap: 20px;
  }

  .btnContent button{
    width: 122px;
    height: 40px;
    font-size: 11px;
  }

  .btnContent p {
    font-size: 11px; 
  }
}