@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: block;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(217, 28%, 15%);
}

:root {
  /* ### Primary */
  --DarkBlue : hsl(217, 28%, 15%); /*(intro and email sign up background)*/
  --DarkBluemain : hsl(218, 28%, 13%); /*(main background)*/
  --DarkBluefooter: hsl(216, 53%, 9%); /*(footer background)*/
  --DarkBluetestimonials: hsl(219, 30%, 18%); /*(testimonials background)*/
  /* ### Accent */
  --Cyan1: hsl(176, 68%, 64%); /*(inside call-to-action gradient)*/
  --Blue: hsl(198, 60%, 50%); /*(inside call-to-action gradient)*/
  --LightRed: hsl(0, 100%, 63%); /* (error)*/
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
}

/* inicio header */
.header {
  padding-top: 60px;
}

.navLogo {
  max-width: 1280px;
  margin: 0 auto;
  color: hsl(215, 33%, 90%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header .illustration {
  margin: 65px auto 25px auto;
}

.header h1 {
  font-size: 33px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 0 auto;
  max-width: 680px;
}

.header p {
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color:hsl(215, 33%, 90%);
  max-width: 595px;
  margin: 30px auto;
}

.header button {
  width: 280px;
  height: 55px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

/* inicio listContentIcon */
.listContentIcon {
  max-width: 880px;
  margin: 150px auto 120px auto;
}

.listContentIcon ul {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 85px;
  column-gap: 130px;
}

.listContentIcon ul li {
  flex: 0 1 355px;
  text-align: center;
}

.listContentIcon ul li:nth-child(3) {
  flex: 0 1 360px;
}

.listContentIcon ul img {
  margin: 0 auto;
}

.listContentIcon ul h2 {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  margin: 25px 0 5px 0;
}

.listContentIcon ul p {
  color: hsl(215, 33%, 90%);
  margin: 25px 0 5px 0;
}

/* inicio stayProductive */
.stayProductive {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 100px;
}

.content {
  max-width: 480px;
}

.content h3{
  max-width: 335px;
  font-size: 40px;
  line-height: 55px;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

.content p{
  color: hsl(215, 33%, 90%);
}

.content p + p{
  margin: 19px 0 20px 0;
}

.content span {
  max-width: 155px;
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  display: flex;
  align-items: center;
  gap: 10px;
}