@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

span, label {
  display: block;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: hsl(217, 28%, 15%);
}

:root {
  /* ### Primary */
  --DarkBlue : hsl(217, 28%, 15%); /*(intro and email sign up background)*/
  --DarkBluemain : hsl(218, 28%, 13%); /*(main background)*/
  --DarkBluefooter: hsl(216, 53%, 9%); /*(footer background)*/
  --DarkBluetestimonials: hsl(219, 30%, 18%); /*(testimonials background)*/
  /* ### Accent */
  --Cyan1: hsl(176, 68%, 64%); /*(inside call-to-action gradient)*/
  --Blue: hsl(198, 60%, 50%); /*(inside call-to-action gradient)*/
  --LightRed: hsl(0, 100%, 63%); /* (error)*/
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
}

/* inicio header */
.header {
  padding: 60px 70px 0 70px;
}

.navLogo {
  color: hsl(215, 33%, 90%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navList li:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}

.header .illustration {
  margin: 65px auto 25px auto;
}

.header h1 {
  font-size: 33px;
  line-height: 50px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 0 auto;
  max-width: 680px;
}

.header p {
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color:hsl(215, 33%, 90%);
  max-width: 595px;
  margin: 30px auto;
}

.header button {
  width: 280px;
  height: 55px;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}

.header button:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #8cdae4, #8cdae4);
  transition: 0.3s;
}

/* inicio listContentIcon */
.listContentIcon {
  max-width: 880px;
  margin: 150px auto 120px auto;
}

.listContentIcon ul {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 85px;
  column-gap: 130px;
}

.listContentIcon ul li {
  flex: 0 1 355px;
  text-align: center;
}

.listContentIcon ul li:nth-child(3) {
  flex: 0 1 360px;
}

.listContentIcon ul img {
  margin: 0 auto;
}

.listContentIcon ul h2 {
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  margin: 25px 0 5px 0;
}

.listContentIcon ul p {
  color: hsl(215, 33%, 90%);
  margin: 25px 0 5px 0;
}

/* inicio stayProductive */
.stayProductive {
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 100px;
}

.content {
  max-width: 480px;
}

.content h3{
  max-width: 335px;
  font-size: 40px;
  line-height: 55px;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

.content p{
  color: hsl(215, 33%, 90%);
}

.content p + p{
  margin: 19px 0 20px 0;
}

.content span {
  max-width: 155px;
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  display: flex;
  align-items: center;
  gap: 10px;
}

/* inicio listPeaples */
.listPeaples {
  max-width: 1185px;
  padding: 35px 5px 0 5px;
  margin: 130px auto 355px auto;
  background-image: url('../images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.listPeaples ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 45px;
}

.listPeaples ul li {
  flex: 0 0 365px;
  padding: 40px 40px 20px 25px;
  border-radius: 5px;
  background-color: hsl(222, 29%, 18%);
  color:hsl(215, 33%, 90%);
}

.grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-rows: 12.5px 12.5px;
  grid-template-areas: 
  'img spanText'
  'img p';
  column-gap: 5px;
  row-gap: 3px;
}

.grid img {
  grid-area: img;
  border-radius: 50%;
}

.grid span {
  grid-area: spanText;
  font-size: 11px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.grid p {
  grid-area: p;
  font-size: 8px;
}

/* inicio formInput */
.containerRelative {
  position: relative;
}

.formInput {
  max-width: 865px;
  border-radius: 5px;
  padding: 55px 75px 40px 75px;
  background-color: hsl(222, 29%, 18%);
  text-align: center;
  position: absolute;
  top: -160px;
  left: 50%;
  transform: translateX(-50%);
}

.formInput h4 {
  font-size: 32px;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

.formInput p {
  color: hsl(215, 33%, 90%);
  max-width: 620px;
  margin: 0 auto 30px auto;
}

.formInput form {
  max-width: 710px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(445px, 1fr) minmax(200px, 1fr);
  grid-template-rows: 50px auto;
  grid-template-areas: 
  'input btn'
  'label .';
  column-gap: 20px;
}

.formInput form input {
  grid-area: input;
  border-radius: 30px;
  border: none;
  padding-left: 35px;
}

.formInput form button {
  grid-area: btn;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}

.formInput form button:hover {
  cursor: pointer;
  background-image: linear-gradient(90deg, #8cdae4, #8cdae4);
  transition: 0.3s;
}

.formInput form label {
  grid-area: label;
  max-width: 230px;
  margin: 5px 0 0 30px;
  color: hsl(0, 100%, 63%);
  display: none;
}

.formInput form label.err {
  display: block;
}

/* inicio footer */
.fotter {
  padding: 190px 70px 0 70px;
  background-color: #0c1524;
}

.contentFooter {
  max-width: 1245px;
  margin: 0 auto 25px auto;
}

.footerLists {
  color: hsl(215, 33%, 90%);
  margin-top: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pWithIcon {
  max-width: 345px;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.listWithIcon li {
  display: flex;
  align-items: center;
  gap: 25px;
}

.footerLists ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.redes {
  flex-direction: row !important;
  gap: 10px;
}

.redes li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid hsl(215, 33%, 90%);
}

@media(max-width: 768px) {
  body {
    font-size: 20px;
  }
  /* header inicio */
  .header h1 {
    font-size: 42px;
    line-height: 60px;
  }
  
  .header p {
    font-size: 25px;
    line-height: 35px;
    max-width: 539px;
    margin: 30px auto 55px auto;
  }
  
  .header button {
    width: 470px;
    height: 85px;
    border-radius: 60px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
  }

  /* inicio listContentIcon */
  .listContentIcon {
    max-width: 880px;
    margin: 235px auto 210px auto;
  }

  .listContentIcon ul {
    row-gap: 145px;
  }

  .listContentIcon ul li {
    flex: 0 1 465px;
  }

  .listContentIcon ul li:nth-child(3) {
    flex: 0 1 440px;
  }

  .listContentIcon ul h2 {
    font-size: 34px;
    margin: 55px 0 5px 0;
  }

  .listContentIcon ul p {
    margin: 20px 0 5px 0;
  }
    /* inicio stayProductive */
  .stayProductive {
    row-gap: 100px;
  }

  .content {
    max-width: 100%;
  }

  .content h3{
    max-width: 560px;
    font-size: 34px;
    margin-bottom: 30px;
  }

  .content p{
    max-width: 455px;
  }

  .content p + p{
    margin: 35px 0 30px 0;
  }

  .content span {
    max-width: 215px;
  }

  /* inicio listPeaples */
  .listPeaples {
    max-width: 560px;
    padding: 35px 0 0 0;
    margin: 270px auto 355px auto;
  }

  .listPeaples ul li {
    flex: 0 0 560px;
    padding: 45px 40px 35px 40px;
  }

  .grid {
    margin-top: 35px;
    grid-template-columns: 45px auto;
    grid-template-rows: 25px 25px;
    column-gap: 15px;
  }

  .grid span {
    font-size: 18px;
  }

  .grid p {
    font-size: 15px;
  }

  /* inicio formInput */
  .formInput {
    max-width: 660px;
    padding: 65px 40px 55px 40px;
    top: -160px;
  }

  .formInput h4 {
    font-size: 35px;
    margin-bottom: 35px;
  }

  .formInput p {
    max-width: 410px;
    margin: 0 auto 40px auto;
  }

  .formInput form {
    max-width: 100%;
    grid-template-columns: minmax(445px, 1fr);
    grid-template-rows: 90px auto 90px;
    grid-template-areas: 
    'input '
    'label'
    'btn';
    gap: 20px;
  }

  .formInput form input {
    border-radius: 60px;
  }

  .formInput form button {
    border-radius: 60px;
  }

  /* inicio footer */
  .fotter {
    padding: 510px 70px 0 70px;
  }

  .contentFooter {
    max-width: 100%;
  }

  .pWithIcon {
    max-width: 395px;
  }

  .listWithIcon {
    flex-direction: column;
    margin-bottom: 120px;
  }

  .footerLists {
    flex-direction: column;
    row-gap: 35px;
  }

  .footerLists ul {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .redes {
    width: 210px;
    margin: 0 auto;
  }

}