@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
} 

body {
  font-family: 'Karla', sans-serif;
}

:root {
  /* ### Primary */
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  /* ### Neutral */
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

.header {
  height: 675px;
  background-color: hsl(256, 26%, 20%);
  position: relative;
}

.header::after {
  content: '';
  display: block;
  width: 200px;
  height: 505px;
  background-image: url('../images/bg-pattern-intro-left-desktop.svg');
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  bottom: -333px;
}

.flexLogoNav {
  padding: 30px 165px;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

.nav {
  font-size: 12px;
  letter-spacing: 2px;
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav li {
  transition: 0.3s;
  padding: 5px 0;
}

.nav li:hover {
  color:hsl(256, 26%, 20%);
  cursor: pointer;
  transition: 0.3s;
}

.nav button, .content button, .findOutMore button {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid hsl(256, 26%, 20%);
  transition: 0.3s;
}

.nav button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 98%);
  background-color: hsl(256, 26%, 20%);
  border: 2px solid hsl(256, 26%, 20%);
  transition: 0.3s;
}

.content h1, .findOutMore h1, .wereDifferent h1 {
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 68px;
  color: hsl(0, 0%, 100%);
  font-family: 'DM Serif Display', serif;
}

.content::before, .wereDifferent::before {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.content p {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 30px;
  color: hsl(0, 0%, 98%);
}

.content button, .findOutMore button {
  border-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

.wereDifferent {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 300px;
  padding-top: 70px;
  position: relative;
}

.wereDifferent::before {
  background-color: hsl(273, 4%, 51%);
}

.wereDifferent h1 {
  color: hsl(270, 9%, 17%);
  margin-bottom: 90px;
}

.wereDifferent ul{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.wereDifferent ul li:first-child {
  flex: 0 0 330px;
}

.wereDifferent ul li:nth-child(2) {
  flex: 0 0 350px;
}

.wereDifferent ul li:nth-child(3) {
  flex: 0 0 335px;
}

.wereDifferent li img {
  margin-bottom: 30px;
}

.wereDifferent li h2 {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 68px;
  color: hsl(270, 9%, 17%);
  font-family: 'DM Serif Display', serif;
}

.findOutMore {
  max-width: 1010px;
  padding: 75px 80px;
  margin: 160px auto;
  background-color: hsl(256, 26%, 20%);
  background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.findOutMore h1 {
  font-size: 49px;
  line-height: 47px;
}

.findOutMore button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color:hsl(256, 26%, 20%);
}

.footer {
  font-size: 15px;
  padding: 60px 160px;
  background-color: hsl(0, 0%, 98%);
  background-image: url('../images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  background-position: top left;
}

.logoRedesFooter {
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoRedesFooter ul {
  max-width: 100%;
  font-size: 29px;
  color: hsl(273, 4%, 51%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logoRedesFooter ul li {
  transition: 0.3s;
}

.logoRedesFooter ul li:hover {
  cursor: pointer;
  color: hsl(270, 9%, 17%);
  transition: 0.3s;
}

.listsFooter {
  max-width: 100%;
  padding-top: 45px;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 170px;
}

.listsFooter ul {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listsFooter ul h2 {
  font-size: 15px;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
  margin-bottom: 15px;
}

.listsFooter ul li {
  transition: 0.3s;
  position: relative;
}

.listsFooter ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: hsl(270, 9%, 17%);
  display: block;
  position: absolute;
  bottom: -2px;
  transition: 0.3s;
}

.listsFooter ul li:hover {
  cursor: pointer;
}

.listsFooter ul li:hover::after{
  content: '';
  width: 100px;
  transition: 0.3s;
}