@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Karla', sans-serif;
}

/* inicio header */
.logoNavFlex {
  padding: 30px 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoNavFlex img {
  max-width: 100%;
  display: block;
}

.navList {
  font-size: 12px;
  letter-spacing: 2px;
  color: hsl(273, 4%, 51%); 
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 25px;
}

.navList li {
  transition: 0.3s;
  padding: 5px 0;
}

.navList li:hover {
  color:hsl(256, 26%, 20%);
  cursor: pointer;
  transition: 0.3s;
}

.navList button, .content button, .findOutMore button {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid hsl(256, 26%, 20%);
  transition: 0.3s;
}

.navList button:hover, .content button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 98%);
  background-color: hsl(256, 26%, 20%);
  border: 2px solid hsl(256, 26%, 20%);
  transition: 0.3s;
}

.btnMobile {
  width: 32px;
  height: 32px;
  background-image: url('../images/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  display: none;
}

/* conteudo do header */

.containerContent {
  height: 600px;
  padding-top: 100px;
  position: relative;
  background-color: hsl(256, 26%, 20%);
}

.containerAbsolute {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  gap:30px
}

.content {
  padding-top: 70px;
  position: relative;
}

.content::before {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.content h1, .wereDifferent h1, .findOutMore h1 {
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 68px;
  color: hsl(0, 0%, 100%);
  font-family: 'DM Serif Display', serif;
}

.content p {
  max-width: 540px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 30px;
  color: hsl(0, 0%, 98%);
}

.content button, .findOutMore button {
  border-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

.content button:hover, .findOutMore button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(256, 26%, 20%);
}

.imgDesktop {
  max-width: 100%;
  display: block;
}

.imgMobile {
  display: none;
}

/* inicio section we're different */
.wereDifferent {
  max-width: 1110px;
  padding-top: 70px;
  margin: 300px auto 160px auto;
}

.wereDifferent h1 {
  color: hsl(270, 9%, 17%);
  margin-bottom: 90px;
}

.wereDifferent ul{
 display: flex;
 align-items: flex-start;
 gap: 40px;
 flex-wrap: wrap;
}

.wereDifferent ul li:first-child {
  flex: 1 1 330px;
}

.wereDifferent ul li:nth-child(2) {
  flex: 1 1 350px;
}

.wereDifferent ul li:last-child {
  flex: 1 1 335px;
}

.wereDifferent li img {
  max-width: 100%;
  display: block;
  margin-bottom: 30px;
}

.wereDifferent li h2 {
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 68px;
  color: hsl(270, 9%, 17%);
  font-family: 'DM Serif Display', serif;
}

/* inicio da div Find out more */
.findOutMore {
  max-width: 1110px;
  padding: 75px 80px;
  margin: 0 auto;
  background-color: hsl(256, 26%, 20%);
  background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.findOutMore h1 {
  font-size: 49px;
  line-height: 47px;
}

/* inicio footer */ 
.footer {
  font-size: 15px;
  margin-top: 150px;
  padding: 60px 160px;
  background-color: hsl(0, 0%, 98%);
  background-image: url('../images/bg-pattern-footer-desktop.svg');
  background-repeat: no-repeat;
  background-position: top left;
}

.logoRedesFooter {
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoRedesFooter ul {
  max-width: 100%;
  font-size: 29px;
  color: hsl(273, 4%, 51%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logoRedesFooter ul li {
  transition: 0.3s;
}

.logoRedesFooter ul li:hover {
  cursor: pointer;
  color: hsl(270, 9%, 17%);
  transition: 0.3s;
}

.footerLists {
  max-width: 100%;
  padding-top: 45px;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 170px;
  row-gap: 25px;
}

.footerLists ul {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerLists ul h2 {
  font-size: 15px;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
  margin-bottom: 15px;
}

.footerLists ul li {
  transition: 0.3s;
  position: relative;
}

.footerLists ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: hsl(270, 9%, 17%);
  display: block;
  position: absolute;
  bottom: -2px;
  transition: 0.3s;
}

.footerLists ul li:hover {
  cursor: pointer;
}

.footerLists ul li:hover::after{
  content: '';
  width: 100px;
  transition: 0.3s;
}

@media (max-width: 770px) {
  body {
    font-size: 14px;
  }

  .containerContent {
    height: 525px;
    padding-top: 100px;
  }
  
  .containerAbsolute {
    gap: 15px
  }
  
  .content {
    padding-top: 40px;
    position: relative;
  }
  
  .content::before {
    width: 90px;
  }
  
  .content h1, .wereDifferent h1, .findOutMore h1 {
    font-size: 40px;
  }
  
  .imgDesktop {
    max-width: 55%;
  }

  .wereDifferent {
    padding-top: 70px;
    margin: 130px auto 100px auto;
  }
  
}

@media (max-width: 425px) {
  body {
    font-size: 16px;
  }

  .logoNavFlex {
    padding: 30px 20px;
  }
  
  .navList {
    flex-direction: column;
    position: absolute;
    max-width: 100%;
    display: none;
  }

  .navList button, .content button, .findOutMore button {
    display: block;
    margin: 0 auto;
  }
  
  .btnMobile {
    display: block;
  }
  
  /* conteudo do header */
  
  .containerContent {
    height: auto;
    padding-top: 0;
  }
  
  .containerAbsolute {
    flex-direction: column-reverse;
    gap: 0;
  }
  
  .content {
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
  }
  
  .content::before {
    display: none;
  }
  
  .content h1, .wereDifferent h1, .findOutMore h1 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
  
  .content p {
    max-width: 324px;
    margin: 25px auto;
    text-align: center;
    line-height: 30px;
  }
  
  .imgDesktop {
    max-width: 100%;
    display: none;
  }
  
  .imgMobile {
    max-width: 100%;
    display: block;
  }
  
  /* inicio section we're different */
  .wereDifferent {
    max-width: 320px;
    padding-top: 45px;
    margin: 140px auto 160px auto;
  }
  
  .wereDifferent h1 {
    font-size: 44px;
  }
  
  .wereDifferent ul{
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  
  .wereDifferent ul li:first-child {
    flex: 1 1 330px;
  }
  
  .wereDifferent ul li:nth-child(2) {
    flex: 1 1 350px;
  }
  
  .wereDifferent ul li:last-child {
    flex: 1 1 335px;
  }
  
  .wereDifferent li img {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  
  .wereDifferent li h2 {
    font-size: 27px;
  }
  
  .wereDifferent li p {
    line-height: 25px;
  }

  /* inicio da div Find out more */
  .findOutMore {
    max-width: 1110px;
    padding: 75px 80px;
    margin: 0 auto;
    background-color: hsl(256, 26%, 20%);
    background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  
  .findOutMore h1 {
    font-size: 49px;
    line-height: 47px;
  }
  
  /* inicio footer */ 
  .footer {
    font-size: 15px;
    margin-top: 150px;
    padding: 60px 25px;
    background-color: hsl(0, 0%, 98%);
    background-image: url('../images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
  }
  
  .logoRedesFooter {
    max-width: 100%;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 32px;
  }
  
  /* .logoRedesFooter ul {
    max-width: 100%;
    font-size: 29px;
    color: hsl(273, 4%, 51%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
   */
  .logoRedesFooter ul li {
    transition: 0.3s;
  }
  
  .logoRedesFooter ul li:hover {
    cursor: pointer;
    color: hsl(270, 9%, 17%);
    transition: 0.3s;
  }
  
  .footerLists {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footerLists ul {
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .footerLists ul h2 {
    font-size: 15px;
    font-weight: 400;
    color: hsl(273, 4%, 51%);
    margin-bottom: 15px;
  }
  
}