// variaveis
// Primary
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
// Neutral
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$textColorBtn: hsl(180, 100%, 95%);
$textColorWhite: hsl(312, 71%, 99%);

// mixins
@mixin btnStyle {
  border: none;
  border-radius: 70px;
  color: $textColorBtn;
  background-color: $moderate-cyan;
}

@mixin positionCenterAbsolute {
  left: 50%;
  transform: translateX(-50%);
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}