@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

// variaveis
// Primary
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
// Neutral
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 48%);
$textColorBtn: hsl(180, 100%, 95%);
$textColorWhite: hsl(312, 71%, 99%);

// mixins
@mixin btnStyle {
  border: none;
  border-radius: 70px;
  color: $textColorBtn;
  font-family: 'Commissioner', sans-serif;
  font-weight: 700;
  background-color: $moderate-cyan;
}

@mixin positionCenterAbsolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin estiloPadrao {
  max-width: 730px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: $white;
}