@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

:root {
  /* ### Primary */
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  /* ### Neutral */
  --DarkGrayishRed: hsl(0, 6%, 24%);
  /* ### Gradients */
  --Linear135degfrom: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --Linear135degfrom: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  height: 800px;
  padding-left: 165px;
  display: grid;
  grid-template-columns: minmax(auto-fit, 830px) minmax(auto-fit, 610px);
  grid-template-rows: 35px 460px;
  grid-template-areas: 
  "header img"
  "content img";
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.header {
  grid-area: header;
  margin-top: 65px;
  margin-bottom: 165px;
}

.content {
  grid-area: content;
  margin-top: 165px;
  padding-right: 165px;
}

.content h1 {
  width: 0;
  letter-spacing: 15px;
  font-size: 65px;
  font-weight: 400;
  color:hsl(0, 6%, 24%);
  text-transform: uppercase;
}

.content h1 span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.content > p {
  max-width: 440px;
  line-height: 27px;
  color: hsl(0, 36%, 70%);
  margin-top: 40px;
  margin-bottom: 50px;
}

.formulario {
  max-width: 445px;
  display: flex;
  align-items: center;
  position: relative;
}

.formulario input {
  flex-basis: 380px;
  border: none;
  border-radius: 30px 0 0 30px;
  padding: 17px 50px 17px 35px;
  border: 1px solid hsl(0, 36%, 70%);
  
}

.formulario input::placeholder {
  color: hsl(0, 36%, 70%);
  font-family: 'Josefin Sans', sans-serif;
  
}

.formulario input:focus {
  outline: none !important;
  border: 1px solid hsl(0, 36%, 70%);
}

.btn {
  width: 100px;
  height: 51px;
  position: absolute;
  right: 0;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.btn:hover {
  cursor: pointer;
  box-shadow: 2px 9px 16px 0px hsl(0deg 36% 70%);
  transition: 0.3s;
}


p.err {
  display: none;
}

p.err.errActive {
  color: hsl(0, 93%, 68%);
  margin: 10px 0 0 35px;
  position: relative;
  display: block;
}

p.err.errActive::after {
  content: url('../images/icon-error.svg');
  display: block;
  position: absolute;
  bottom: 40px;
  right: 150px;
}

p.err.valid {
  margin: 10px 0 0 35px;
  display: block;
  color: hsl(120, 29%, 51%);
}



.fotoModelo {
  grid-area: img;
  display: block;
  max-width: 100%;
  
}