@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
}

.container {
  width: 1110px;
  min-height: 445px;
  margin: 0 20px;
}

.card_container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 445px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 8px;
}

.max-w {
  max-width: 380px;
  margin: 68px 70px;
}

.content h1 {
  font-size: 36px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
}

.content h1 span {
  color: hsl(277, 64%, 61%);
}

.content p {
  color: hsla(0, 0%, 100%, 0.6);
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 74px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex span {
  display: block;
}

.flex div span:nth-child(1) {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  font-weight: bold;
}

.flex div span:nth-child(2) {
  font-size: 13px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  margin-top: 8px;
}

.bg_image {
  background: url("../images/image-header-desktop.jpg") no-repeat center center,
    hsl(277, 64%, 61%);
  background-size: cover;
  border-radius: 0 8px 8px 0;
  position: relative;
}

.bg_image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsla(277, 100%, 24%, 0.624);
  border-radius: 0 8px 8px 0;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 810px) {
  .container {
    margin: 90px 25px;
  }

  .card_container {
    grid-template-columns: 1fr;
    grid-template-rows: 240px 1fr;
  }

  .max-w {
    margin: 68px auto;
  }

  .content {
    grid-row: 2 / 3;
    border-radius: 0 0 8px 8px;
  }

  .bg_image {
    grid-row: 1 / 2;
    border-radius: 8px 8px 0 0;
    background: url("../images/image-header-mobile.jpg") no-repeat center center;
    background-size: cover;
  }

  .bg_image::after {
    border-radius: 8px 8px 0 0;
  }
}

@media (max-width: 468px) {
  .max-w {
    margin: 40px 25px;
  }
  .content h1 {
    font-size: 27px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .content p {
    text-align: center;
    margin-top: 17px;
    margin-bottom: 40px;
  }
  .flex {
    flex-direction: column;
    text-align: center;
    gap: 35px;
  }
}
