@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

// variaveis
$dark-Blue: hsl(243, 87%, 12%);
$desaturated-Blue: hsl(238, 22%, 44%);
$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);
$Light-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);

.headerContainer {
  .headerTop {
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .nav ul {
      display: flex;
      align-items: center;
      gap: 60px;
      list-style: none;
    }
  }

  .gridHeader {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 590px));
    grid-template-areas: "conteudo img";
    align-items: center;
    gap: 60px;
    .content {
      grid-area: conteudo;
      h1 {
        font-family: "Raleway", sans-serif;
        line-height: 58px;
        font-size: 38px;
        color: $dark-Blue;
      }
  
      p {
        line-height: 25px;
        color: $dark-Blue;
        margin-right: 58px;
      }
      .formHeader {
        margin-top: 20px;
        display: grid;
        grid-template-columns: minmax(auto, 310px) minmax(auto, 170px);
        grid-template-rows: 40px auto;
        grid-template-areas: "input button"
                             "label label";
        input {
          grid-area: input;
          margin-right: 15px;
          padding-left: 15px;
          border-radius: 3px;
          border: 1px solid $dark-Blue;
          font-family: "Raleway", sans-serif;
        }
        button {
          grid-area: button;
          border: none;
          font-weight: 600;
          border-radius: 3px;
          color: hsl(240, 75%, 98%);
          background: hsl(224, 93%, 58%);
          font-family: "Raleway", sans-serif;
          &:hover {
            cursor: pointer;
            background: #6b9bff;
          }
        }
        label {
          display: none;
          &.err {
            grid-area: label;
            margin-top: 10px;
            display: block;
          }
        }
      }
    }
    img {
      grid-area: img;
    }
  }
}

.stayProductive {
  .bg {
    height: 118px;
    max-width: 100%;
    margin-top: 140px;
    background-image: url('../../images/bg-curve-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .stayProductiveGrid {
    background: #f9f8fe;
    display: grid;
    grid-template-columns: minmax(auto, 80px)
                         minmax(auto, 660px)
                         minmax(auto, 140px)
                         minmax(auto, 540px)
                         minmax(auto, 80px);
    grid-template-areas: ". conteudo . img .";
    align-items: center;
    article {
      grid-area: conteudo;
      h1 {
        font-size: 38px;
        margin-bottom: 45px;
      }

      h1 + p, p + p {
        max-width: 525px;
        margin-bottom: 20px;
        line-height: 25px;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: hsl(170, 45%, 43%);
        span {
          margin-left: 10px;
        }
        &::after {
          content: '';
          display: block;
          width: 170px;
          height: 1px;
          background: hsl(170, 45%, 43%);
          position: relative;
          top: 15px;
          right: 170px;
        }
      }
      .ceo {
        max-width: 360px;
        padding: 20px 30px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px 4px #f1f0f5;
        margin-top: 50px;
        margin-bottom: 100px;
        p {
          margin-bottom: 20px;
          line-height: 25px;
          font-size: 14px;
          &::before {
            content: url('../../images/icon-quotes.svg');
            display: block;
          }
        }
        .subGrid {
          display: grid;
          grid-template-columns: 32px 180px;
          grid-template-rows: 16px 16px;
          grid-template-areas: "img nome"
                               "img funcao";
          .img {
            grid-area: img;
            background-image: url('../../images/avatar-testimonial.jpg');
            background-size: cover;
            border-radius: 50%;
          }
          .nome, .funcao {
            font-size: 11px;
            margin-left: 10px;
            color:hsl(243, 87%, 12%);
          }
          .nome {
            grid-area: nome;
            font-weight: bold;
          }
          .funcao {
            grid-area: funcao;
          }
        }
      }
    }
    img {
      grid-area: img;
   }
  }
  
}

.getEarly {
  background-color: hsl(238, 22%, 44%);
  padding: 100px 120px 75px 70px;
  display: grid;
  grid-template-columns: minmax(320px, 490px) minmax(320px, 480px);
  justify-content: space-between;
  color: $Light-Blue;
  font-family: "Raleway", sans-serif;
  h1 {
    margin-bottom: 20px;
    font-size: 32px;
  }
  p {
    line-height: 23px;
  }
  .formFooter {
    display: grid;
    grid-template-columns: minmax(auto, 480px);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "input"
                         "label"
                         "button";
    input {
      grid-area: input;
      padding-left: 15px;
    }
    label {
      display: none;
      &:active {
        grid-area: label;
        display: block;
      }
    }
    button {
      max-width: 200px;
      grid-area: button;
      border: none;
      font-weight: 600;
      border-radius: 3px;
      color: hsl(240, 75%, 98%);
      background: hsl(224, 93%, 58%);
      font-family: "Raleway", sans-serif;
      &:hover {
        cursor: pointer;
        background: #6b9bff;
      }
    } 
  }
}

.footer {
  background-color: $dark-Blue;
  padding: 100px 75px 70px 75px;
  color: $Light-Blue;
  .lists {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;
      li:hover {
        cursor: pointer;
        color:hsl(224, 93%, 58%);
        transition: 0.2s;
      }
    }
    .phoneEmail li{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .redesSociais {
      display: flex;
      align-items: center;
      gap: 15px;
      span {
        padding: 5px 10px;
        border-radius: 50%;
        border: 2px solid $Light-Blue;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          transition: 0.2s;
          border-color: $Bright-Blue;
          a {
            color: $Bright-Blue;
          }
        }
        a {
          text-decoration: none;
          font-size: 18px;
          color: $Light-Blue;
          margin-top: 3px;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .headerContainer {
    .headerTop {
      padding: 50px 40px;

      .nav ul {
        gap: 45px;
        flex-wrap: wrap;
      }
    }
  
    .gridHeader {
      max-width: 710px;
      grid-template-columns: minmax(auto, 710px);
      grid-template-rows: auto auto;
      grid-template-areas: 
      "img" 
      "conteudo";
      .content {
        
        h1 {
          line-height: 58px;
          font-size: 38px;
          text-align: center;
        }
        p {
          line-height: 25px;
          text-align: center;
          margin: 0 auto;
          max-width: 330px;
        }
        .formHeader {
          margin-top: 20px;
          grid-template-columns: minmax(auto, 100%);
          grid-template-rows: 70px auto 70px;
          grid-template-areas: 
          "input"
          "label"
          "button";
          row-gap: 15px;
          input {
            margin-right: 0;
            font-size: 16px;
          }
          button {
            font-size: 18px;
          }
        }
      }
    }
  }

  .stayProductive {
    .bg {
      height: 100px;
      background-image: url('../../images/bg-curve-mobile.svg');
    }
    .stayProductiveGrid {
      grid-template-columns: minmax(auto, 50px) 
                             minmax(auto, 710px) 
                             minmax(auto, 50px);
      grid-template-rows: auto auto;
      grid-template-areas: ". img ." ". conteudo .";
      article {
        h1 {
          font-size: 30px;
          margin-top: 140px;
          margin-bottom: 45px;
          text-align: center;
        }
  
        h1 + p, p + p {
          max-width: 100%;
          font-size: 18px;
          margin-bottom: 20px;
          line-height: 25px;
        }
        a {
          margin: 0 auto;
          &::after {
            top: 15px;
            right: 170px;
          }
        }
        .ceo {
          max-width: 470px;
          margin: 50px auto 100px auto;
          p {
            font-size: 18px;
            max-width: 405px;
          }
        }
      }
    }
  }

  .getEarly {
    padding: 100px 120px 75px 70px;
    grid-template-columns: minmax(auto, 600px);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "h1"
    "p"
    "form";
    h1 {
      grid-area: h1;
      text-align: center;
    }
    p {
      grid-area: p;
      text-align: center;
      max-width: 320px;
      margin: 0 auto;
      line-height: 25px;
    }
    .formFooter {
      grid-template-rows: 50px auto 65px;
      margin: 25px auto;
      button {
        max-width: 100%;
        margin-top: 15px;
      } 
    }
  }

  .footer {
    .lists {
      row-gap: 50px;
      flex-direction: column;
      .redesSociais {
        margin: 0 auto;
      }
    }
  }
}