@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.headerContainer .headerTop {
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headerContainer .headerTop .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  list-style: none;
}

.headerContainer .gridHeader {
  max-width: 1240px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 590px))[2];
      grid-template-columns: repeat(2, minmax(auto, 590px));
      grid-template-areas: "conteudo img";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.headerContainer .gridHeader .content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: conteudo;
}

.headerContainer .gridHeader .content h1 {
  font-family: "Raleway", sans-serif;
  line-height: 58px;
  font-size: 38px;
  color: #070439;
}

.headerContainer .gridHeader .content p {
  line-height: 25px;
  color: #070439;
  margin-right: 58px;
}

.headerContainer .gridHeader .content .formHeader {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 310px) minmax(auto, 170px);
      grid-template-columns: minmax(auto, 310px) minmax(auto, 170px);
  -ms-grid-rows: 40px auto;
      grid-template-rows: 40px auto;
      grid-template-areas: "input button" "label label";
}

.headerContainer .gridHeader .content .formHeader input {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: input;
  margin-right: 15px;
  padding-left: 15px;
  border-radius: 3px;
  border: 1px solid #070439;
  font-family: "Raleway", sans-serif;
}

.headerContainer .gridHeader .content .formHeader button {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  color: #f6f6fe;
  background: #3065f8;
  font-family: "Raleway", sans-serif;
}

.headerContainer .gridHeader .content .formHeader button:hover {
  cursor: pointer;
  background: #6b9bff;
}

.headerContainer .gridHeader .content .formHeader label {
  display: none;
}

.headerContainer .gridHeader .content .formHeader label.err {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: label;
  margin-top: 10px;
  display: block;
}

.headerContainer .gridHeader img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img;
}
/*# sourceMappingURL=style.css.map */