@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  background: hsl(204, 43%, 93%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerFlex {
  max-width: 635px;
  height: 475px;
  margin-top: 50px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 318px));
  grid-template-rows: 215px 260px;
  grid-template-areas:
    "header header"
    "increverse sobreNos";
}

.header {
  grid-area: header;
  background: hsl(0, 0%, 100%);
  border-radius: 8px 8px 0 0;
  padding: 40px;
}

.header h1 {
  color: hsl(179, 62%, 43%);
  font-size: 22px;
}

.header h2 {
  color: hsl(71, 73%, 54%);
  font-size: 18px;
  margin: 16px 0 28px 0;
}

.header p {
  font-size: 15px;
  line-height: 24px;
  color: hsl(218, 22%, 67%);
}

.inscreverSe {
  grid-area: increverse;
  padding: 40px;
  background: hsl(179, 62%, 43%);
  border-radius: 0 0 0 10px;
}

.inscreverSe h1 {
  font-size: 17px;
  color: hsl(180, 100%, 92%);
}

.flex {
  display: flex;
  align-items: center;
}

.flex span:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin: 18px 14px 0 0;
}

.flex span:nth-child(2) {
  color: hsl(181, 66%, 69%);
  margin: 18px 14px 0 0;
}

.inscreverSe p {
  color: hsl(180, 100%, 92%);
  font-size: 15px;
  margin: 8px 0 30px 0;
}

.btn {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  color: hsl(0, 0%, 100%);
  background: hsl(71, 73%, 54%);
  padding: 16px 90px 13px 90px;
}

.btn:hover {
  cursor: pointer;
  background: hsl(71, 98%, 55%);
}

.sobreNos {
  grid-area: sobreNos;
  padding: 40px;
  background: #4abebd;
  border-radius: 0 0 10px 0;
}

.sobreNos h1 {
  font-size: 17px;
  color: hsl(180, 100%, 92%);
  margin: 0 0 17px 0;
}

.sobreNos p {
  font-size: 15px;
  line-height: 20px;
  color: hsl(180, 100%, 92%);
}

@media (max-width: 425px) {
  .containerFlex {
    max-width: 311px;
    height: 722px;
    margin-top: 20px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 311px;
    grid-template-rows: 260px 230px 230px;
    grid-template-areas:
      "header"
      "increverse"
      "sobreNos";
  }

  .header {
    border-radius: 8px 8px 0 0;
    padding: 30px 26px 30px 30px;
  }

  .header h1 {
    font-size: 20px;
  }

  .header h2 {
    margin: 16px 0 15px 0;
    line-height: 27px;
    font-size: 15px;
  }

  .header p {
    font-size: 13px;
    line-height: 24px;
  }

  .inscreverSe {
    padding: 30px;
    border-radius: 0;
  }

  .inscreverSe p {
    font-size: 13px;
    margin: 8px 0 30px 0;
  }

  .btn {
    padding: 16px 89px 13px 90px;
  }

  .sobreNos {
    padding: 30px;
    border-radius: 0 0 10px 10px;
  }

  .sobreNos p {
    font-size: 13px;
  }
}
